// SipaUI
// Utilitaires
//

.su-clearfix,
.su-cf {
    @include clearfix();
}

.su-hidden {
    display: none !important;
    visibility: hidden; // Les lecteurs d'écrans parfois ne prennent pas en compte le display none
}

// Pour cacher quelque-chose qui doit rester accessible aux lecteurs d'écrans
.su-visually-hidden { // https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .su-visually-hidden {
    a,
    input,
    button {
        display: none !important;
    }
}

//
/* -- DISPLAY -------------------------------------------------------------------- */
//
.su-block {
    display: block !important;
}
.su-inline-block {
    display: inline-block !important;
}

//
/* -- POSITION -------------------------------------------------------------------- */
//
.su-relative {
	position: relative;
}

//
/* -- MARGES -------------------------------------------------------------------- */
//
.su-margin-0 {
    margin: 0 !important;
}
.su-margin-small {
    margin-bottom: $margin-resp-small !important;                // 10px
}
.su-margin-medium {
    margin-bottom: $margin-resp-medium1 !important;              // 15px
}
.su-margin-standard {
   margin-bottom: $margin-resp-standard !important;             // 20px
}
.su-margin-large {
    margin-bottom: $margin-resp-standard-large !important;       // 40px
}

//
/* -- LINE-HEIGHT -------------------------------------------------------------------- */
//
.su-line-height-base {
    line-height: $line-height-base !important;
}
.su-line-height-small {
    line-height: $line-height-small !important;
}
.su-line-height-xsmall {
    line-height: $line-height-xsmall !important;
}
