// Site SipaUI
// CSS par défaut spécifiques au projet
//

header {
    position: fixed;
    width: 100%;
    top: 0;

    .titre {
        padding: 5px 20px;
        background: radial-gradient(circle at 100% 100%, $couleur-principale-6, $couleur-principale-7);
        color: $couleur-principale-1;
    }
    h1 {
        margin-bottom: 0;
    }
    .version {
        background: $couleur-principale-8;
        padding: 3px 13px;
        border-radius:  3px;
        font-size: 1.5rem;

    }
    h1 a {
        transition: text-shadow .3s ease;

        &:hover,
        &:focus,
        &:active {
            color: inherit;
            text-shadow: 0 0 2px $couleur-principale-1;
        }
    }
}
nav {
    $bgColor-menu: $couleur-principale-8;
    $bgColor-sousMenu: $couleur-principale-6;
    box-shadow: 0 2px 3px  1px rgba(0,0,0, .5);

    ul {
        background: $bgColor-menu;
        padding: 5px 20px 0;
    }
    a {
        $couleur: $couleur-principale-1;
        display: inline-block;
        color: $couleur;
        opacity: .7;
        text-decoration: none;
        transition: opacity .3s ease;
        margin-right: $margin-resp-standard;
        border-bottom: 5px solid $bgColor-menu;

        &:hover,
        &.actif {
            color: $couleur;
            opacity: 1;
        }
    }
    .sous-menu {
        background: $bgColor-sousMenu;
        a {
            border-bottom-color: $bgColor-sousMenu;
        }
    }
}
main {
    > *:first-child {
        padding-top: 15rem;
    }
    .conteneur {
        padding-left: $margin-standard;
        padding-right: $margin-standard;
    }
}
.trop-large-responsif {
    overflow-x: scroll;
}

.intro {
    font-size: $font-size-medium2;
    color: $couleur-principale-1;
    background: $couleur-principale-8;
    padding-bottom: 5rem;
}

.cell {
    display: table-cell;
}
.bas {
    vertical-align: bottom;
}

.carte {
    width: 500px;
    margin-bottom: $margin-resp-small;
}
.integre {
    > ul > li {
        margin-bottom: $margin-resp-standard;
    }
    h2,
    h3 {
        margin-bottom: $margin-resp-small;
    }
}
.tableau-suivi {
    th,
    td {
        width: 45%;

        &:first-child {
            width: 10%;
        }
    }
    .resolu {
        color: $couleur-principale-4;

        &::before,
        li::before {
            background: $couleur-principale-4;
        }
    }
}

.liste-boutons {
    li {
        margin-bottom: $margin-resp-standard;
    }
}

