// Site SipaUI
// CSS pour écrans larges spécifiques au projet
//

/* Point de rupture desktop (980px) */
nav {
    .sous-menu {
        a.actif {
            border-bottom-color: $couleur-principale-1;
        }
    }
}

main {
    > *:first-child {
        margin-top: 15rem;
    }
}

.accueil main {
    > *:first-child {
        margin-top: 70px;
    }
}

.accueil .illustration {
    width: 250px;
}
.accueil .intro {
    div:last-child {
        margin: 0 0 $margin-large
    }
}
