/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// INPUT ------------------------------------------------------------------------------------------/
$background-select:    #fff                       !default;

// FOCUS
$border-select-focus:     1px solid $color-secondary-3         !default;
