// SipaUI
// Variables
//

// voir https://robots.thoughtbot.com/sass-default pour explications sur !default

@import 'src/core/scss/variables';

// -------------------------------------------------------------------------------------------------------------------------------------------------------------
// TYPO ----------------------------------------------------------------------------------
$font-family-base:       Arial, Helvetica, sans-serif !default;
$font-family-secondaire: null !default;

$font-size-root: 10px      !default;// Valeur en pixel pour s'adapter au responsive. Appliqué à l'élément <html>.

$font-size-xsmall:  1.2rem !default;
$font-size-small:   1.4rem !default;
$font-size-medium1: 1.6rem !default;
$font-size-medium2: 1.8rem !default;
$font-size-tall:    2.4rem !default;
$font-size-xtall:   3rem   !default;
$font-size-xxtall:  4rem   !default;
$font-size-xxxtall: 6rem   !default;

$smaller-font-size: 80% !default;

$line-height-xsmall: 1   !default;
$line-height-small:  1.2 !default;
$line-height-medium: 1.5 !default;
$line-height-base: $line-height-medium !default;

$font-weight-maigre: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-gras:   700 !default;

// Texte standard
$color-texte: $couleur-principale-8 !default;
$font-size-base: $font-size-medium1 !default;

// Code
$color-code: chocolate !default;

// Titres
$font-family-titres: null               !default;
$font-weight-titres: $font-weight-gras  !default;
$color-titres: $couleur-principale-8    !default;
$font-size-h1: $font-size-xxtall        !default;
$margin-bottom-h1: $font-size-h1 * 1    !default;
$font-size-h2: $font-size-xtall         !default;
$margin-bottom-h2: $font-size-h2 * .8   !default;
$font-size-h3: $font-size-tall          !default;
$margin-bottom-h3: $font-size-h3 * .7   !default;
$font-size-h4: $font-size-medium2       !default;
$font-size-h5: $font-size-base          !default;
$font-size-h6: $font-size-base          !default;
$font-weight-titres: $font-weight-medium !default;

// Titres éditoriaux
$font-family-titres-edito: $font-family-secondaire   !default;
$font-weight-titres-edito: $font-weight-maigre       !default;
$color-titres-edito: $couleur-principale-5           !default;
$font-size-h1-edito: null                            !default;
$margin-bottom-h1-edito: null                        !default;
$font-size-h2-edito: null                            !default;
$margin-bottom-h2-edito: null                        !default;
$font-size-h3-edito: null                            !default;
$margin-bottom-h3-edito: null                        !default;
$font-size-h4-edito: null                            !default;
$font-size-h5-edito: null                            !default;
$font-size-h6-edito: null                            !default;



// MARGES --------------------------------------------------------------------------------
// Marges en PX
$margin-xsmall:     5px     !default;
$margin-small:      10px    !default;
$margin-medium1:    15px    !default;
$margin-medium2:    20px    !default;
$margin-large:      30px    !default;
$margin-xlarge:     40px    !default;

$margin-standard: $margin-medium2;
$margin-standard-large: $margin-xlarge;

// Marges responsives liées au font-size défini sur HTML ($font-size-root) en REM
$margin-resp-xsmall:     .5rem   !default;
$margin-resp-small:      1rem    !default;
$margin-resp-medium1:    1.5rem  !default;
$margin-resp-medium2:    2rem    !default;
$margin-resp-large:      3rem    !default;
$margin-resp-xlarge:     4rem    !default;

$margin-resp-standard: $margin-resp-medium2         !default;
$margin-resp-standard-large: $margin-resp-xlarge    !default;

// Marges spécifiques
$margin-top-entre-blocs-petit: $margin-resp-standard          !default; // séparateur entre 2 blocs de texte (ie : p + p…)
$margin-top-entre-blocs-grand: $margin-resp-standard-large    !default; // séparateur entre 2 blocs de texte majeurs (ie : article + article, p + h2…)

// OMBRES --------------------------------------------------------------------------------
$ombre-1: 0 0 10px rgba(0,0,0, .5) !default;


// VARIABLES GLOBAL & BASICC -----------------------------------------------------------------------------------------------------------------------------------------
// BODY
$background-body: null !default;

// LIENS STANDARDS
$color-lien:         $couleur-principale-5  !default;
$color-lien-hover:   $couleur-secondaire-2  !default;
$color-lien-active:  $color-lien-hover      !default;
$color-lien-focus:   $color-lien-hover      !default;
$color-lien-visited: $color-texte           !default;
$text-decoration-link: null                !default;

// LIENS NEUTRES
$color-lien-neutre:         $color-texte                !default;
$color-lien-neutre-hover:   $color-lien-hover           !default;
$color-lien-neutre-active:  $color-lien-neutre-hover    !default;
$color-lien-neutre-focus:   $color-lien-neutre-hover    !default;
$color-lien-neutre-visited: $color-texte                !default;

// LIENS VOYANTS
$color-lien-voyant:         $couleur-secondaire-1       !default;
$color-lien-voyant-hover:   $color-lien-hover           !default;
$color-lien-voyant-active:  $color-lien-voyant-hover    !default;
$color-lien-voyant-focus:   $color-lien-voyant-hover    !default;
$color-lien-voyant-visited: $couleur-secondaire-3       !default;

// LISTES À PUCES
$taille-puce-mobile: .8rem         !default;
$taille-espace-puce-mobile: .8rem  !default;
$taille-puce-desktop: 1rem         !default;
$taille-espace-puce-desktop: 1rem  !default;

// LISTES NUMÉROTÉES
$weight-numero-ol: $font-weight-gras        !default;

// TABLEAUX
$border-tableau: 1px solid $couleur-principale-3        !default;
$padding-tableau: $margin-xsmall                        !default;
$caption-color-tableau: $couleur-principale-5           !default;
$caption-side-tableau: bottom                           !default;
$caption-align-tableau: center                          !default;
$caption-padding-tableau: $margin-resp-xsmall 0         !default;

$border-tableau-plus: 1px solid $couleur-principale-4   !default;
$background-tableau-plus-header: $couleur-principale-3  !default;
$background-tableau-plus-even: lighten($couleur-principale-2, 5%)    !default;


// VARIABLES OBJETS -----------------------------------------------------------------------------------------------------------------------------------------
// BOUTONS
$background-bouton: $couleur-principale-3   !default;
$color-bouton: $couleur-principale-8        !default;
$border-bouton: 0                           !default;
$radius-bouton: 3px                         !default;
$shadow-bouton: null                        !default;
$font-family-bouton: null                   !default;
$font-weight-bouton: null                   !default;
$padding-bouton: 1.2rem 1rem                !default;
// hover, focus
$background-bouton-hover: $couleur-principale-4 !default;
$color-bouton-hover: $couleur-principale-8      !default;
$border-bouton-hover: null                      !default;
$shadow-bouton-hover: null                      !default;
// active
$background-bouton-active: darken($background-bouton-hover, 5%) !default;
$color-bouton-active: $color-bouton-hover        !default;
$border-bouton-active: null         !default;
$shadow-bouton-active: null         !default;
// disabled
$opacity-disabled: .4;
