/*
    Variables liés au composant [titles]
    ex:
    $border-button-premium: 3px !default;
*/


// CHAPEAU GÉNÉRIQUE
$font-family-standfirst: $font-family-base       !default;
$line-height-standfirst: $line-height-tall       !default;
$color-standfirst:       $color-main-6           !default;


// CHAPEAU LISTE D’ARTICLES
$font-size-standfirst-articles-list:         $font-size-small       !default;
$font-size-standfirst-articles-list-desktop: $font-size-small       !default;
$font-weight-standfirst-articles-list:       $font-weight-normal    !default;


// CHAPEAU ARTICLE COMPLET
$font-size-standfirst-article:          2.0rem                      !default;
$font-size-standfirst-article-desktop:  2.2rem                      !default;
$font-weight-standfirst-article:        $font-weight-normal         !default;
