/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// CHAPEAU LISTE D’ARTICLES
$font-weight-standfirst-articles-list: $font-weight-thin;

// CHAPEAU ARTICLE COMPLET
$font-weight-standfirst-article: $font-weight-medium;

