/*
    Styles du composant Links de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";


// TEXTE EDITORIAL STANDARD------------------------------------------------------------------------------------------/
.sipaui {
    .su-text-standard {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-base;
        color: $color-texte;
        margin: 0;
    }
    .su-text-standard + .su-text-standard {
        margin-top: $margin-medium;
    }
    .su-article {
        p {
            @extend .su-text-standard
        }
        p + p,
        ul + p {
            margin-top: $margin-medium;
        }
    }
}

