/*
    Styles du composant Links de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";


// TEXTE STANDARD------------------------------------------------------------------------------------------/
body {
    article,
    .su-article {
        p,
        .su-text-standard {
            font-family: $font-family-base;
            font-size: 1.6rem;
            line-height: 1.5;
            color: #333;
            margin: 0;
        }
        p + p,
        ul + p,
        .su-text-standard + .su-text-standard,
        ul + .su-text-standard {
            margin-top: 20px;
        }
    }
}

