/*
    Styles du composant Links de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";


// TEXTE EDITORIAL STANDARD------------------------------------------------------------------------------------------/
.sipaui {
    .su-text-standard {
        font-family: $font-family-base;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #333;
        margin: 0;
    }
    .su-text-standard + .su-text-standard {
        margin-top: 20px;
    }
    .su-article {
        p {
            @extend .su-text-standard
        }
        p + p,
        ul + p {
            margin-top: 20px;
        }
    }
}

