/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/


// LIENS

// LIEN ÉDITORIAL -------------------------------------------------------------------------------------------/
$color-link-article:                 $color-secondary-1;

$text-decoration-link-article-hover:        none;

// LIEN BOUTON -------------------------------------------------------------------------------------------/
$color-link-button:                 $color-secondary-1;
