// Site SipaUI
// CSS par défaut spécifiques au projet
//

body {
    margin: 1rem 2rem;
}
nav {
    margin: 2rem 0 4rem;

    li {
        margin-right: 1rem;
    }
}

.liste-boutons {
    li {
        margin-bottom: 2rem;
    }
}

.cell {
    display: table-cell;
}
.bottom {
    vertical-align: bottom;
}

.tableau-suivi {
    th,
    td {
        width: 45%;

        &:first-child {
            width: 10%;
        }
    }
}

