// Site SipaUI
// CSS par défaut spécifiques au projet
//

body {
    margin: 1rem 2rem 0;
}
nav {
    margin: 2rem 0 4rem;

    li {
        margin-right: 1rem;
    }
    a {
        display: inline-block;
        border: 1px solid transparent;
        border-radius: $radius-bouton;
        padding: $padding-bouton;

        &.actif {
            border-color: $color-lien;

            &:hover {
                border-color: $color-lien-hover;
            }
        }
    }
    .sous-menu {
        margin-top: $margin-standard;
        a {
            border-style: dashed;
            padding: .6rem 2rem;
        }
    }
}
main {
    padding-bottom: 2rem;
}

.liste-boutons {
    li {
        margin-bottom: 2rem;
    }
}

.cell {
    display: table-cell;
}
.bas {
    vertical-align: bottom;
}

.carte {
    width: 50rem;
    margin-bottom: 1rem;
}

.tableau-suivi {
    th,
    td {
        width: 45%;

        &:first-child {
            width: 10%;
        }
    }
}

