/*
    Styles du composant Links de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";


// TITRES NON-ÉDITORIAUX------------------------------------------------------------------------------------------/
.sipaui {
    h1,
    .su-h1,
    h2,
    .su-h2,
    h3,
    .su-h3 {
        font-family: $font-family-titles;
        font-weight: $font-weight-titles;
        line-height: $line-height-medium;
        color: $color-titles;
        text-transform: $text-transform-titles;
        margin: 0;
    }
    h1,
    .su-h1 {
        font-size: $font-size-h1;
        color: $color-h1;
        text-transform: $text-transform-h1;
    }
    h2,
    .su-h2 {
        font-size: $font-size-h2;
        color: $color-h2;
        text-transform: $text-transform-h2;
    }
    h3,
    .su-h3 {
        font-size: $font-size-h3;
        color: $color-h3;
        text-transform: $text-transform-h3;
    }
}

// TITRES ÉDITORIAUX------------------------------------------------------------------------------------------/
.sipaui {
    .su-article {
        h1,
        .su-h1,
        h2,
        .su-h2,
        h3,
        .su-h3,
        h4,
        .su-h4,
        h5,
        .su-h5,
        h6,
        .su-h6 {
            font-family: $font-family-titles-edito;
            font-weight: $font-weight-titles-edito;
            line-height: $line-height-medium;
            color: $color-titles-edito;
            text-transform: $text-transform-titles-edito;
        }
        h1,
        .su-h1 {
            font-family: $font-family-h1-edito;
            font-size: $font-size-h1-edito;
            font-weight: $font-weight-h1-edito;
            color: $color-h1-edito;
            text-transform: $text-transform-h1-edito;
            margin: 0 0 3rem;
        }
        h2,
        .su-h2 {
            font-size: $font-size-h2-edito;
            font-weight: $font-weight-h2-edito;
            color: $color-h2-edito;
            text-transform: $text-transform-h2-edito;
            margin: 4.6rem 0 2.5rem;
        }
        h3,
        .su-h3 {
            font-size: $font-size-h3-edito;
            font-weight: $font-weight-h3-edito;
            color: $color-h3-edito;
            text-transform: $text-transform-h3-edito;
            margin: 3rem 0 1.3rem;
        }
        h4,
        .su-h4 {
            font-size: $font-size-h4-edito;
            font-weight: $font-weight-h4-edito;
            color: $color-h4-edito;
            text-transform: $text-transform-h4-edito;
            margin: 2rem 0 .8rem;
        }
        h5,
        .su-h5 {
            font-size: $font-size-h5-edito;
            font-weight: $font-weight-h5-edito;
            color: $color-h5-edito;
            text-transform: $text-transform-h5-edito;
            margin: 1.5rem 0 .5rem;
        }
        h6,
        .su-h6 {
            font-size: $font-size-h6-edito;
            font-weight: $font-weight-h6-edito;
            color: $color-h6-edito;
            text-transform: $text-transform-h6-edito;
            margin: 1rem 0 0;
        }

        h1 + h2,
        .su-h1 + .su-h2,
        h2 + h3,
        .su-h2 + .su-h3,
        h3 + h4,
        .su-h3 + .su-h4,
        h4 + h5,
        .su-h4 + .su-h5,
        h5 + h6,
        .su-h5 + .su-h6 {
            margin-top: 0;
        }
    }
}


//
/* -- DESKTOP ONLY ---------------------------------------------------------------------------------------------------------------------------------- */
//

@media only screen and (min-width: $min-breakpoint-desktop) {
    // TITRES NON-ÉDITORIAUX------------------------------------------------------------------------------------------/
    .sipaui {
        h1,
        .su-h1 {
            font-size: $font-size-h1-desktop;
        }
        h2,
        .su-h2 {
            font-size: $font-size-h2-desktop;
        }
        h3,
        .su-h3 {
            font-size: $font-size-h3-desktop;

        }
    }

    // TITRES ÉDITORIAUX------------------------------------------------------------------------------------------/
    .sipaui {
        .su-article {
            h1,
            .su-h1 {
                font-size: $font-size-h1-edito-desktop;
                margin: 0 0 3.5rem;
            }
            h2,
            .su-h2 {
                font-size: $font-size-h2-edito-desktop;
                margin: 5.5rem 0 2.8rem;
            }
            h3,
            .su-h3 {
                font-size: $font-size-h3-edito-desktop;
                margin: 3.5rem 0 1.5rem;

            }
            h4,
            .su-h4 {
                font-size: $font-size-h4-edito-desktop;
                margin: 2.5rem 0 1rem;

            }
            h5,
            .su-h5 {
                font-size: $font-size-h5-edito-desktop;
                margin: 1.5rem 0 .5rem;

            }
            h6,
            .su-h6 {
                font-size: $font-size-h6-edito-desktop;
                margin: 1rem 0 0;
            }
        }
    }
}
