/*
    Styles du composant [password-fields] de SipaUI
*/
@import "variables";

.sipaui {
    .su-toggle-text {
        .su-input-action {
            color: $color-main-7;
        }
    }

    .su-password {
        position: relative;

        .su-conditions {
            display: none;
            margin: $margin-small 0;
            span {
                display: block;
                font-size: $font-size-small;
                color: $color-main-6;

                &.su-conditions-success {
                    color: $color-success;
                }

                .su-icon {
                    margin-right: $margin-xsmall;
                    font-size: $font-size-small;
                    position: relative;
                    top: 1px;
                    left: -2px;
                }
            }
        }

        .su-input-actions-area {
            display: none;
            opacity: 1;
            .su-input-action {
                cursor: pointer;
            }
        }

        &.su-not-empty {
            .su-input-actions-area {
                display: flex;
            }
        }

        input:focus {
            & ~ .su-conditions {
                display: block;
            }
        }

        &.su-error, &.su-password-focus {
            .su-conditions {
                display: block;
            }
        }

        &.su-error {
            .su-conditions {
                span {
                    &.su-conditions-error {
                        color: $color-error;
                    }
                }
            }
            .su-input-actions-area {
                display: flex;
            }
        }
    }
}















