/*
    Styles du composant Buttons de SipaUI
    Utilise les variables à la fois globales et du composant
*/

@import "variables";

body {
    .su-button {
        cursor: pointer;
        font-family: $font-family-button;
        font-size: $font-size-button;
        font-style: normal;
        text-align: center;
        text-decoration: none !important;
        display: inline-block;
        margin: 0;
        padding: 0 $side-padding-button;
        min-width: 140px;
        -webkit-user-select: none;
        -moz-user-select:    none;
        -ms-user-select:     none;
        user-select:         none;
        -webkit-tap-highlight-color: transparent;
        transition: background .2s ease,
                    color      .2s ease,
                    box-shadow .2s ease;
        height: $height-button;
        line-height: $height-button;
        text-shadow: none;

        &.su-small {
            font-size: $font-size-button-small;
            padding: 0 $side-padding-button-small;
            height: $height-button-small;
            line-height: $height-button-small;
            min-width: 100px;
        }

        // PRIMARY ------------------------------------------------------------------------------------------/
        &.su-primary {
            background: $background-button-primary;
            color: $color-button-primary;
            text-transform: $text-transform-button-primary;
            border: $border-button-primary;
            font-weight: $font-weight-button-primary;
            border-radius: $radius-button-primary;
            box-shadow: $shadow-button-primary;

            &:hover:not(.su-disabled):not([disabled]),
            &:focus:not(.su-disabled):not([disabled]) {
                background: $background-button-primary-hover;
                color: $color-button-primary-hover;
                border: $border-button-primary-hover;
                box-shadow: $shadow-button-primary-hover;
            }

            &:active:not(.su-disabled):not([disabled]) {
                background:$background-button-primary-active;
                color: $color-button-primary-active;
                border: $border-button-primary-active;
                box-shadow: $shadow-button-primary-active;
            }
        }

        // SECONDARY ------------------------------------------------------------------------------------------/
        &.su-secondary {
            background: $background-button-secondary;
            color: $color-button-secondary;
            text-transform: $text-transform-button-secondary;
            border: $border-button-secondary;
            font-weight: $font-weight-button-secondary;
            border-radius: $radius-button-secondary;
            box-shadow: $shadow-button-secondary;

            &:hover:not(.su-disabled):not([disabled]),
            &:focus:not(.su-disabled):not([disabled]) {
                background: $background-button-secondary-hover;
                color: $color-button-secondary-hover;
                border: $border-button-secondary-hover;
                box-shadow: $shadow-button-secondary-hover;
            }

            &:active:not(.su-disabled):not([disabled]) {
                background:$background-button-secondary-active;
                color: $color-button-secondary-active;
                border: $border-button-secondary-active;
                box-shadow: $shadow-button-secondary-active;
            }
        }

        // SUBSCRIPTION ------------------------------------------------------------------------------------------/
        &.su-subscription {
            background: $background-button-subscription;
            color: $color-button-subscription;
            text-transform: $text-transform-button-subscription;
            border: $border-button-subscription;
            font-weight: $font-weight-button-subscription;
            border-radius: $radius-button-subscription;
            box-shadow: $shadow-button-subscription;

            &:hover:not(.su-disabled):not([disabled]),
            &:focus:not(.su-disabled):not([disabled]) {
                background: $background-button-subscription-hover;
                color: $color-button-subscription-hover;
                border: $border-button-subscription-hover;
                box-shadow: $shadow-button-subscription-hover;
            }

            &:active:not(.su-disabled):not([disabled]) {
                background:$background-button-subscription-active;
                color: $color-button-subscription-active;
                border: $border-button-subscription-active;
                box-shadow: $shadow-button-subscription-active;
            }
        }

        // PREMIUM ------------------------------------------------------------------------------------------/
        &.su-premium {
            background: $background-button-premium;
            color: $color-button-premium;
            text-transform: $text-transform-button-premium;
            border: $border-button-premium;
            font-weight: $font-weight-button-premium;
            border-radius: $radius-button-premium;
            box-shadow: $shadow-button-premium;

            &:hover:not(.su-disabled):not([disabled]),
            &:focus:not(.su-disabled):not([disabled]) {
                background: $background-button-premium-hover;
                color: $color-button-premium-hover;
                border: $border-button-premium-hover;
                box-shadow: $shadow-button-premium-hover;
            }

            &:active:not(.su-disabled):not([disabled]) {
                background:$background-button-premium-active;
                color: $color-button-premium-active;
                border: $border-button-premium-active;
                box-shadow: $shadow-button-premium-active;
            }
        }
    }
}
