/*
    Variables liés au composant [buttons]
    ex:
    $border-button-premium: 3px !default;
*/



// BOUTONS
$font-family-button:    null                        !default;
$font-size-button:      $font-size-base             !default;
$side-padding-button:   20px                        !default;
$height-button:         $height-finger              !default;

$font-size-button-small:      $font-size-small            !default;
$side-padding-button-small:   15px                        !default;
$height-button-small:         $height-small               !default;


// PRIMARY -------------------------------------------------------------------------------------------/
$background-button-primary:     $color-secondary-1      !default;
$color-button-primary:          $color-main-1           !default;
$text-transform-button-primary: none                    !default;
$border-button-primary:         0                       !default;
$radius-button-primary:         3px                     !default;
$shadow-button-primary:         null                    !default;
$font-weight-button-primary:    $font-weight-bold       !default;

// hover, focus
$background-button-primary-hover:   $color-secondary-2      !default;
$color-button-primary-hover:        $color-button-primary   !default;
$border-button-primary-hover:       null                    !default;
$shadow-button-primary-hover:       null                    !default;
// active
$background-button-primary-active:  $background-button-primary-hover    !default;
$color-button-primary-active:       $color-button-primary-hover         !default;
$border-button-primary-active:      $border-button-primary-hover        !default;
$shadow-button-primary-active:      $shadow-button-primary-hover        !default;

// SECONDARY -------------------------------------------------------------------------------------------/
$background-button-secondary:     transparent                               !default;
$color-button-secondary:          $font-color-standard                      !default;
$text-transform-button-secondary: none                                      !default;
$border-button-secondary:         none                                      !default;
$radius-button-secondary:         $radius-button-primary                    !default;
$shadow-button-secondary:         0 0 0 1px $color-button-secondary inset   !default;
$font-weight-button-secondary:    null                                      !default;

// hover, focus
$background-button-secondary-hover:   null                                          !default;
$color-button-secondary-hover:        $color-secondary-2                            !default;
$border-button-secondary-hover:       none                                          !default;
$shadow-button-secondary-hover:       0 0 0 1px $color-button-secondary-hover inset !default;
// active
$background-button-secondary-active:  $background-button-secondary-hover    !default;
$color-button-secondary-active:       $color-button-secondary-hover         !default;
$border-button-secondary-active:      $border-button-secondary-hover        !default;
$shadow-button-secondary-active:      $shadow-button-secondary-hover        !default;

// SUBSCRIPTION -------------------------------------------------------------------------------------------/
$background-button-subscription:     $color-subscription-1             !default;
$color-button-subscription:          $color-main-1                     !default;
$text-transform-button-subscription: none                              !default;
$border-button-subscription:         0                                 !default;
$radius-button-subscription:         $radius-button-primary            !default;
$shadow-button-subscription:         null                              !default;
$font-weight-button-subscription:    $font-weight-bold                 !default;

// hover, focus
$background-button-subscription-hover:   $color-subscription-2         !default;
$color-button-subscription-hover:        $color-button-subscription    !default;
$border-button-subscription-hover:       null                          !default;
$shadow-button-subscription-hover:       null                          !default;
// active
$background-button-subscription-active:  $background-button-subscription-hover  !default;
$color-button-subscription-active:       $color-button-subscription-hover       !default;
$border-button-subscription-active:      $border-button-subscription-hover      !default;
$shadow-button-subscription-active:      $shadow-button-subscription-hover      !default;
