// SipaUI
// Utilitaires
//

.su-old-clearfix,
.su-old-cf {
    @include clearfix();
}

.su-old-hidden {
    display: none !important;
    visibility: hidden; // Les lecteurs d'écrans parfois ne prennent pas en compte le display none
}

// Pour cacher quelque-chose qui doit rester accessible aux lecteurs d'écrans
.su-old-visually-hidden { // https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .su-old-visually-hidden {
    a,
    input,
    button {
        display: none !important;
    }
}

//
/* -- DISPLAY -------------------------------------------------------------------- */
//
.su-old-block {
    display: block !important;
}
.su-old-inline-block {
    display: inline-block !important;
}

//
/* -- POSITIONS -------------------------------------------------------------------- */
//
.su-old-relative {
	position: relative;
}
.su-old-absolute {
	position: absolute;
}
.su-old-fixed {
	position: fixed;
}

//
/* -- MARGES BASSSES-------------------------------------------------------------------- */
//
.su-old-margin-0 {
    margin: 0 !important;
}
.su-old-margin-b-small {
    margin-bottom: $margin-resp-small !important;                // 10px
}
.su-old-margin-b-medium {
    margin-bottom: $margin-resp-medium1 !important;              // 15px
}
.su-old-margin-b-standard {
    margin-bottom: $margin-resp-standard !important;             // 20px
}
.su-old-margin-b-large {
    margin-bottom: $margin-resp-standard-large !important;       // 40px
}

//
/* -- PADDING BAS -------------------------------------------------------------------- */
//
.su-old-padding-0 {
    padding: 0 !important;
}
.su-old-padding-b-small {
    padding-bottom: $margin-resp-small !important;                // 10px
}
.su-old-padding-b-medium {
    padding-bottom: $margin-resp-medium1 !important;              // 15px
}
.su-old-padding-b-standard {
    padding-bottom: $margin-resp-standard !important;             // 20px
}
.su-old-padding-b-large {
    padding-bottom: $margin-resp-standard-large !important;       // 40px
}

//
/* -- LINE-HEIGHT -------------------------------------------------------------------- */
//
.su-old-line-height-base {
    line-height: $line-height-base !important;
}
.su-old-line-height-small {
    line-height: $line-height-small !important;
}
.su-old-line-height-xsmall {
    line-height: $line-height-xsmall !important;
}

//
/* -- JUSTIFY -------------------------------------------------------------------- */
//
.su-old-justify {
    text-align: justify;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    -ms-hyphens:     auto;
    hyphens:         auto;
}

//
/* -- JUSTIFY -------------------------------------------------------------------- */
//
.su-old-block-center {
    display: block; //utile pour forcer le centrage d’un objet non block comme les SVG
    margin-left: auto;
    margin-right: auto;
}
