/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/


// LOADER BASE
$color-main-loader-big:                 $color-main-3;
$color-secondary-loader-big:            $color-secondary-2;
