/*
    Styles du composant helpers de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";

$size-loader-big: 44px;
$thickness-loader-big: 5px;

@include keyframes(rotation) {
    0% {
        @include rotate(0);
    }
    100% {
        @include rotate(360);
    }
}

.sipaui {

    // LOADER BASE
    .su-loader {
        display: inline-block;
        border: $thickness-loader-big solid $color-main-loader-big;
        border-left-color: $color-secondary-loader-big;
        border-radius: 50%;
        width: $size-loader-big;
        height: $size-loader-big;
        @include animation (0, .8s, linear, infinite, rotation);
    }
    // LOADER DE PAGE
    .su-page-loader {
        background: rgba(255,255,255, .9);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10000;
        @include displayFlex();
        @include justifyContent(center, center);
        @include alignItems(center);
    }
}


