/*
    Variables liés au composant [text-fields]
    ex:
    $subutton-br: 0 !default;
*/


// ERROR ------------------------------------------------------------------------------------------/
$border-input-error:     1px solid $color-error       !default;
$font-size-error:        $font-size-small             !default;
