/*
    Variables liés au composant [errors]
    ex:
    $border-button-premium: 3px !default;
*/


// ERROR ------------------------------------------------------------------------------------------/
$border-input-error:     1px solid green      !default;
$font-size-error:        $font-size-small             !default;
