/* ------------------------------------------------------------------------------------------------------------------

    Variables générales du theme VOILES ET VOILIERS

------------------------------------------------------------------------------------------------------------------ */

@import "../mixins";    // pour disponibilité dans les SCCS du thème appelés AVANT main-sipaui
@import "../variables"; // pour disponibilité dans les SCCS du thème appelés AVANT main-sipaui

// Seules les variables différentes du thème principal sont redéfinies

// Import Fonts
$font-import-url:    'https://cdn.sipaof.fr/sipaui/latest/fonts/montserrat/Montserrat';
$font-import-path:   'montserrat/';
$font-import-medium: true;
$font-import-bold:   true;
$font-import-name:   'Montserrat';

$font-family-base: $font-import-name, Arial, Helvetica, sans-serif;
$font-family-secondaire: $font-family-base;


// COLORS ------------------------------------------------------------------------------------------------------------------

$color-secondary-1: $vv-1;
$color-secondary-2: $vv-2;


// LIENS --------------------------------------------------------------------------------
$color-link-standard:       $color-secondary-1;
$color-link-standard-hover: $color-secondary-2;







/* ------------------------------------------------------------------------------------------------------------------

    Variables de surcharge des COMPOSANTS

------------------------------------------------------------------------------------------------------------------ */

// Le layout
@import "../../../components/LAYOUT/Margins/variables_theme-vv";
@import "../../../components/LAYOUT/Grids/variables_theme-vv";

// Les composants
@import "../../../components/COMPONENTS/Text/Standard-text/variables_theme-vv";
@import "../../../components/COMPONENTS/Text/Titles/variables_theme-vv";
@import "../../../components/COMPONENTS/Text/Standfirst/variables_theme-vv";
@import "../../../components/COMPONENTS/Text/Lists/variables_theme-vv";
@import "../../../components/COMPONENTS/Text/Links/variables_theme-vv";
@import "../../../components/COMPONENTS/Text/Sources/variables_theme-vv";

@import "../../../components/COMPONENTS/Inputs/Buttons/variables_theme-vv";
@import "../../../components/COMPONENTS/Inputs/Text-fields/variables_theme-vv";
@import "../../../components/COMPONENTS/Inputs/Radio-buttons/variables_theme-vv";
@import "../../../components/COMPONENTS/Inputs/Checkboxes/variables_theme-vv";
@import "../../../components/COMPONENTS/Inputs/Selects/variables_theme-vv";
@import "../../../components/COMPONENTS/Inputs/Password-fields/variables_theme-vv";

@import "../../../components/COMPONENTS/Forms/Labels/variables_theme-vv";
@import "../../../components/COMPONENTS/Forms/Errors/variables_theme-vv";

@import "../../../components/COMPONENTS/Notifiers/Loaders/variables_theme-vv";
@import "../../../components/COMPONENTS/Notifiers/Pop-ins/variables_theme-vv";

@import "../../../components/COMPONENTS/Navigation/Steppers/variables_theme-vv";
@import "../../../components/COMPONENTS/Navigation/Accordions/variables_theme-vv";
@import "../../../components/COMPONENTS/Navigation/Pagination/variables_theme-vv";

@import "../../../components/COMPONENTS/Identities/Cockades/main";

// Les utilitaires
@import "../../../components/UTILITIES/Helpers/variables_theme-vv";
@import "../../../components/UTILITIES/Veil/variables_theme-vv";
