/*
    Variables liés au composant [sources]
    ex:
    $border-button-premium: 3px !default;
*/

$marge-cocarde: $margin-xsmall             !default;
$color-lien:    $color-main-6              !default;
$font-size-source-article: $font-size-small          !default;
$font-size-source-liste:   $font-size-xsmall         !default;
