/*
    Styles du composant Newspapers identity elements de SipaUI
*/
@import "variables";

.sipaui {
    .su-source {
        font-size: $font-size-small;
        color: $color-metadata;

        &[class*="su-cockade-"] {
            background-size: 14px;
            background-position: 0 50%;
            padding-left: 14px + $marge-cocarde;

        }
    }

    .su-articles-list {
        .su-source {
            font-size: $font-size-xsmall;
        }
    }
}
