/*
    Styles du composant [sources] de SipaUI
*/
@import "variables";

.sipaui {
    .su-source {
        font-size: $font-size-source-article;
        color: $color-metadata;

        &[class*="su-cockade-"] {
            background-size: 14px;
            background-position: 0 50%;
            padding-left: 14px + $marge-cocarde;

        }
    }

    a.su-source,
    .su-source a {
        border-bottom: none;
        color: $color-main-6;
    }

    .su-articles-list {
        .su-source {
            font-size: $font-size-source-liste;
        }
    }
}
