/*
    Variables liés au composant [text-fields]
    ex:
    $subutton-br: 0 !default;
*/


// STEPPER BASE------------------------------------------------------------------------------------------/

$font-weight-step:              $font-weight-thin                !default;

// Couleurs
//Pas fait
$background-step-bullet-undone:         #fff                            !default;
$border-step-bullet-undone:             1px solid $color-main-3         !default;
$color-step-bullet-undone:              $color-main-3                   !default;
$background-step-line-undone:           $color-main-3                   !default;
$color-step-label-undone:               $color-main-3                   !default;

//Hover
$background-step-bullet-hover:          #fff                            !default;
$border-step-bullet-hover:              1px solid $color-secondary-2    !default;
$color-step-bullet-hover:               $color-secondary-2              !default;
$color-step-label-hover:                $font-color-standard            !default;

//Actif
$background-step-bullet-enabled:        $color-secondary-1              !default;
$border-step-bullet-enabled:            1px solid $color-secondary-1    !default;
$color-step-bullet-enabled:             #fff                            !default;
$color-step-label-enabled:              $font-color-standard            !default;

//Fait
$background-step-bullet-done:           #fff                             !default;
$border-step-bullet-done:               1px solid $color-secondary-1     !default;
$color-step-bullet-done:                $color-secondary-1               !default;
$background-step-line-done:             $color-secondary-1               !default;
$color-step-label-done:                 $font-color-standard             !default;


// Tailles
$size-step-bullet:                      30px                             !default;
$radius-step-bullet:                    100%                             !default;
$margin-bottom-step-bullet:             $margin-xsmall                   !default;
$height-line-steps:                     1px                              !default;

// STEPPER ABONNEMENT------------------------------------------------------------------------------------------/

// Couleurs
//Pas fait
/*
$background-step-bullet-undone-subscription:                    !default;
$border-step-bullet-undone-subscription:                        !default;
$color-step-bullet-undone-subscription:                         !default;
$background-step-line-undone-subscription:                      !default;
$color-step-label-undone-subscription:                          !default;
*/

//Hover
//$background-step-bullet-hover-subscription:                                           !default;
$border-step-bullet-hover-subscription:              1px solid $color-subscription-2    !default;
$color-step-bullet-hover-subscription:               $color-subscription-2              !default;
//$color-step-label-hover-subscription:                                                 !default;

//Actif
$background-step-bullet-enabled-subscription:        $color-subscription-1              !default;
$border-step-bullet-enabled-subscription:            1px solid $color-subscription-1    !default;
$color-step-bullet-enabled-subscription:             #fff                               !default;
//$color-step-label-enabled-subscription:                                               !default;

//Fait
//$background-step-bullet-done-subscription:                                             !default;
$border-step-bullet-done-subscription:               1px solid $color-subscription-1     !default;
$color-step-bullet-done-subscription:                $color-subscription-1               !default;
$background-step-line-done-subscription:             $color-subscription-1               !default;
//$color-step-label-done-subscription:                                                   !default;
