/*
    Styles du Text-fields de SipaUI
*/
@import "variables";

.sipaui {
    .su-stepper {
        counter-reset: steps;
        @include display-flex();

        .su-stepper-step {
            counter-increment: steps;
            @include flex(1 0 0);
            position: relative;
            z-index: 1;

            span {
                display: block;
                white-space: nowrap;
                font-size: $font-size-small;
                color: $color-step-label-done;
                font-weight: $font-weight-step;
                text-align: center;
            }
            &::before {
                content: counter(steps);
                @include display-flex();
                @include justify-content(center, center);
                @include align-items(center);
                margin: 0 auto $margin-bottom-step-bullet;
                height: $size-step-bullet;
                width: $size-step-bullet;
                border-radius: $radius-step-bullet;
                border: $border-step-bullet-done;
                background: $background-step-bullet-done;
                color: $color-step-bullet-done;
                transition: border .5s, background .5s, color .5s;
            }
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                height: $height-line-steps;
                background: $background-step-line-done;
                top: $size-step-bullet / 2;
                left: 50%;
                z-index: -1;
            }
            &:last-child::after {
                display: none;
            }
            &.su-enabled {
                span {
                    color: $color-step-label-enabled;
                }
                &::before {
                    color: $color-step-bullet-enabled;
                    border: $border-step-bullet-enabled;
                    background: $background-step-bullet-enabled;
                }
                &::after {
                    background: $background-step-line-undone;
                }
            }
            &.su-enabled ~ .su-stepper-step {
                span {
                    color: $color-step-label-undone;
                }
                &::before {
                    border: $border-step-bullet-undone;
                    background: $background-step-bullet-undone;
                    color: $color-step-bullet-undone;
                }
                &::after {
                    background: $background-step-line-undone;
                }
            }
        }
    }
}

@media (max-width: $max-breakpoint-sm) {
    .sipaui .su-stepper .su-stepper-step span {
        display: none;
    }
}























