/*
    Styles du Text-fields de SipaUI
*/
@import "variables";


.sipaui {
    .su-stepper {
        counter-reset: etape;
        @include display-flex();
        @include flex-wrap(nowrap);
        @include justify-content(space-between, justify);
                                            border: 1px dotted lightgrey;

        li {
            @include display-flex();
            @include flex-direction(column);
            @include align-steps(flex-end);
            position: relative;

            &:nth-child(n+2) {
                @include flex(1);

                &::after {
                    content: "";
                    display: block;
                        background: $color-step-undone;
                    height: 1px;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: $size-step / 2;
                }
            }
            &.su-enabled {
                &::after {
                    background: $backgroundcolor-step-enabled;
                }
                .su-stepper-step::before {
                    background-color: $backgroundcolor-step-enabled;
                    border: 1px solid $backgroundcolor-step-enabled;
                    color: $color-step-enabled;
                }
                span {
                    color: $font-color-standard;
                }
            }
            &.su-done {
                &::after {
                    background: $color-step-done;
                }
                .su-stepper-step::before {
                    background-color: $backgroundcolor-step-done;
                    border: 1px solid $color-step-done;
                    color: $color-step-done;
                }
                span {
                    color: $font-color-standard;
                }
            }
        }

        .su-stepper-step {
            position: relative;
            z-index: 1;

            &::before {
                content: counter(etape);
                counter-increment: etape;
                text-align: center;
                display: block;
                    background-color: $backgroundcolor-step-undone;
                    border: 1px solid $color-step-undone;
                    color: $color-step-undone;
                font-size: 16px;
                font-weight: $font-weight-step;
                height: $size-step;
                width: $size-step;
                line-height: $size-step;
                text-align: center;
                border-radius: $radius-step;
            }
            span {
                display: block;
                white-space: nowrap;
                position: absolute;
                bottom: -23px;
                left: 50%;
                transform: translateX(-50%);
                font-size: $font-size-small;
                color: $color-step-undone;
            }
        }
    }
    .su-article ol.su-stepper {
        display: block;
    }
}














