// SipaUI
/* Styles des contenus de base */
//


//
/* -- LIENS -------------------------------------------------------------------- */
//
a {
    color: $color-lien;

    &:hover {
        color: $color-lien-hover;
    }
    &:active {
        color: $color-lien-active;
    }
    &:focus {
        color: $color-lien-focus;
    }
}
// Voir https://github.com/twbs/bootstrap/issues/19402 (pour ne pas styler les balises <a> sans href)
a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;

    @include hover-active-focus {
        color: inherit;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

a[target="_blank"].su-blank {
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 19.9 18.7" style="enable-background:new 0 0 19.9 18.7;" xml:space="preserve">
	 <style type="text/css">.st0{fill:#878787;}</style>
     <path class="st0" d="M11,0v1.5h6.2l-8.6,8.6l1.1,1.1l8.6-8.6v6.2h1.5V0C19.9,0,11,0,11,0z"/>
     <path class="st0" d="M14.6,18.7H1.2c-0.7,0-1.2-0.6-1.2-1.4V5.3c0-0.8,0.5-1.4,1.2-1.4h8.7v1.3H1.3c0,0,0,0.1,0,0.2c0,0,0,0,0,0
	v11.9c0,0,0,0,0,0c0,0.1,0,0.1,0,0.2l13.2,0c0,0,0-0.1,0-0.2c0,0,0,0,0,0v-5.8h1.3v5.8C15.8,18.1,15.3,18.7,14.6,18.7L14.6,18.7z"/>
    </svg>');
    padding-right: 18px;
    background-size: auto 80%;
    background-position: 100% 50%;
    background-repeat: no-repeat;


/*
    &:after {
        content: '\e984';
        font-family: 'picto-of2' !important;
        font-size: 2.4rem;
        vertical-align: -5px;
        margin-left: 0.5rem;
        display: inline-block;
        text-decoration: none;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
*/
}

/* -- LIENS  NEUTRES -------------------------- */
a.su-neutral-link  {
    color: $color-lien-neutre;
    text-decoration: none;

    &:hover {
        color: $color-lien-neutre-hover;
    }
    &:active {
        color: $color-lien-neutre-active;
    }
    &:focus {
        color: $color-lien-neutre-focus;
    }
}
/* -- LIENS VOYANTS -------------------------- */
a.su-bright-link  {
    color: $color-lien-voyant;

    &:hover {
        color: $color-lien-voyant-hover;
    }
    &:active {
        color: $color-lien-voyant-active;
    }
    &:focus {
        color: $color-lien-voyant-focus;
    }
}
/* -- LIENS SUR TITRES -------------------------- */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
}

//
/* -- TABLEAUX -------------------------------------------------------------------- */
//
.su-table {
    border: $border-tableau;

    caption {
        font-style: italic;
        font-size: small;
        color: $caption-color-tableau;
        caption-side: $caption-side-tableau;
        text-align: $caption-align-tableau;
        padding: $caption-padding-tableau;
    }
    th,
    td {
        border: $border-tableau;
        padding: $padding-tableau;
    }
    &.su-plus {
        border: $border-tableau-plus;

        th {
            background: $background-tableau-plus-header;
        }
        tr:nth-child(even) td {
            background: $background-tableau-plus-even;
        }
    }
}




//
/* -- LISTES -------------------------------------------------------------------- */
//
ul,
ol,
dl,
ul.su-not-list,
ol.su-not-list,
dl.su-not-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



$taille-puce-retrait: $taille-puce-mobile + $taille-espace-puce-mobile;
%liste-a-puces {
    padding-left: $taille-puce-retrait;

    > li {
        padding-bottom: .4rem;
        &::before {
            content: "";
            display: inline-block;
            background: $color-texte;
            width: $taille-puce-mobile;
            height: $taille-puce-mobile;
            border-radius: 100%;
            margin-left: - $taille-puce-retrait;
            margin-right: $taille-espace-puce-mobile
        }
    }
}
ul.su-list,
.su-editorial ul:not(.su-not-list) {
    @extend %liste-a-puces;
}
ul.su-list ul.su-list,
.su-editorial ul ul {
    li::before {
        width: $taille-puce-mobile / 1.3;
        height: $taille-puce-mobile / 1.3;
        margin-right: $taille-espace-puce-mobile / 1.3;
        vertical-align: 1px;
    }
}

ol.su-list,
.su-editorial ol {
    display: table;
    counter-reset: liste;
    > li {
        display: table-row;
        counter-increment: liste;

        &::before {
            content: counter(liste)". ";
            display: table-cell;
            padding-right: 1rem;
            text-align: right;
            padding-bottom: .4rem;
        }
    }
}

dt {
    font-weight: $margin-resp-medium1;
}

dd {
    margin-bottom: $margin-resp-xsmall;
    margin-left: 0; // Undo browser default
}
ul.su-horizontal {
    li {
        display: inline-block
    }
}


//
/* -- AUTRES -------------------------------------------------------------------- */
//

//Citations
/* Pour avoir des quotes */
HTML:lang(fr),
:lang(fr) q,
:lang(fr) blockquote { quotes: '«\00A0' '\00A0»' '"' '"';} /* défini les quotes pour tout le site. \00A0 = espace insécable. Le premier niveaun de quote est à la fançaise, le second est droit */

cite, blockquote p, q, cite .origine {
	font-style: italic;
	}
header cite,
footer cite {
    font-style: normal;
}
blockquote {
	margin: .8rem 0 .8rem 2.5rem;
	padding-left: 2.5rem;
	background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjIuMSwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkNhbHF1ZV8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB2aWV3Qm94PSIwIDAgMjAgMjAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDIwIDIwOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzAxMDEwMTt9Cjwvc3R5bGU+CjxnPgoJPHBhdGggY2xhc3M9InN0MCIgZD0iTTIuNyw0YzEuMi0xLjQsMi41LTIuNSwzLjktMy4xbDAuNSwxQzYsMi41LDUsMy40LDQuMiw0LjNjLTAuOCwxLTEuMiwyLTEuMiwzQzMsNy41LDMsNy42LDMuMiw3LjcKCQljMC4xLDAuMSwwLjMsMC4xLDAuNSwwLjFjMS4xLTAuMSwxLjYtMC4yLDEuNy0wLjJjMC41LDAsMS4xLDAuMiwxLjcsMC42QzcuNyw4LjcsOCw5LjMsOCwxMC4zYzAsMC44LTAuMywxLjUtMC44LDIKCQlDNi43LDEyLjksNiwxMy4xLDUsMTMuMWMtMS4xLDAtMi4xLTAuNC0yLjktMS4zQzEuNCwxMSwxLDkuOSwxLDguNUMxLDcsMS42LDUuNSwyLjcsNHogTTEzLjcsNGMxLjItMS40LDIuNS0yLjQsMy45LTMuMWwwLjUsMQoJCWMtMS4xLDAuNy0yLjEsMS41LTIuOSwyLjRjLTAuOCwxLTEuMiwxLjktMS4yLDIuOWMwLDAuMiwwLDAuMywwLjEsMC41YzAuMSwwLjEsMC4zLDAuMiwwLjUsMC4yYzEtMC4xLDEuNi0wLjIsMS43LTAuMgoJCWMwLjYsMCwxLjIsMC4yLDEuOCwwLjZjMC42LDAuNCwwLjksMS4xLDAuOSwxLjljMCwwLjctMC4yLDEuMy0wLjcsMS45Yy0wLjUsMC42LTEuMiwwLjktMi4zLDAuOWMtMS4yLDAtMi4xLTAuNS0yLjktMS40CgkJQzEyLjMsMTAuOSwxMiw5LjksMTIsOC43QzEyLDcsMTIuNiw1LjQsMTMuNyw0eiIvPgo8L2c+Cjwvc3ZnPgo=') no-repeat;
	background-position: 0 5px;
	background-size: 20px;
}

//Code
code,
kbd,
samp {
  color: chocolate;
	}

//Adresse
address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}


//
// Ligne horizontale
//
hr {
    margin-top: $margin-resp-standard;
    margin-bottom: $margin-resp-standard;
    border: 0;
    border-top: .1rem solid $couleur-principale-4;
}
