/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// TITRES NON-ÉDITORIAUX

$font-family-titles:                $font-family-base;

$font-weight-titles:                $font-weight-normal;

$color-titles:                      $color-secondary-1;
$color-h3:                          $color-secondary-2;

$text-transform-h3:                 uppercase;

$font-size-h1:                2.8rem;
$font-size-h2:                2.2rem;
$font-size-h3:                1.3rem;
$font-size-h1-desktop:        3.5rem;
$font-size-h2-desktop:        2.8rem;
$font-size-h3-desktop:        1.3rem;


// TITRES ÉDITORIAUX - LISTE ARTICLES

$color-titles-liste-articles:                      $color-titles;
$color-h2-liste-articles:                          null;

$line-height-titles-liste-articles:                $line-height-base;
$line-height-h2-liste-articles:                    null;

$text-transform-titles-liste-articles:             null;
$text-transform-h2-liste-articles:                 null;

$font-size-h2-liste-articles:                $font-size-base;



// TITRES ÉDITORIAUX - ARTICLE COMPLET

$font-weight-h1-article:                    $font-weight-normal;
$font-weight-h2-article:                    $font-weight-thin;
$font-weight-h3-article:                    $font-weight-h2-article;


$text-transform-h3-article:           none;

$font-size-h1-article:                2.2rem;
$font-size-h2-article:                2rem;
$font-size-h3-article:                1.8rem;

$font-size-h1-article-desktop:        3.8rem;
$font-size-h2-article-desktop:        2.8rem;
$font-size-h3-article-desktop:        2.2rem;


