/*
    Variables liés au composant [titles]
    ex:
    $border-button-premium: 3px !default;
*/


// TITRES NON-ÉDITORIAUX

$font-family-titles:                $font-family-secondaire             !default;
$font-family-h1:                    null                                !default;
$font-family-h2:                    null                                !default;
$font-family-h3:                    null                                !default;

$font-weight-titles:                $font-weight-normal                 !default;
$font-weight-h1:                    null                                !default;
$font-weight-h2:                    null                                !default;
$font-weight-h3:                    null                                !default;

$color-titles:                      $font-color-standard                !default;
$color-h1:                          null                                !default;
$color-h2:                          null                                !default;
$color-h3:                          null                                !default;

$line-height-titles:                $line-height-base                   !default;
$line-height-h1:                    null                                !default;
$line-height-h2:                    null                                !default;
$line-height-h3:                    null                                !default;

$text-transform-titles:             none                                !default;
$text-transform-h1:                 null                                !default;
$text-transform-h2:                 null                                !default;
$text-transform-h3:                 null                                !default;

$font-size-h1:                3rem               !default;
$font-size-h2:                2.4rem             !default;
$font-size-h3:                2rem               !default;
$font-size-h1-desktop:        4rem               !default;
$font-size-h2-desktop:        3rem               !default;
$font-size-h3-desktop:        2rem               !default;


// TITRES ÉDITORIAUX - LISTE ARTICLES

$font-family-titles-liste-articles:                $font-family-base                   !default;
//$font-family-h1-liste-articles:                    $font-family-base                   !default;
$font-family-h2-liste-articles:                    null                                !default;
$font-family-h3-liste-articles:                    null                                !default;

$font-weight-titles-liste-articles:                $font-weight-bold                   !default;
//$font-weight-h1-liste-articles:                    $font-weight-bold                   !default;
$font-weight-h2-liste-articles:                    null                                !default;
$font-weight-h3-liste-articles:                    null                                !default;

$color-titles-liste-articles:                      $color-titles                       !default;
//$color-h1-liste-articles:                          null                                !default;
$color-h2-liste-articles:                          null                                !default;
$color-h3-liste-articles:                          null                                !default;

$line-height-titles-liste-articles:                $line-height-base                   !default;
//$line-height-h1-liste-articles:                    null                                !default;
$line-height-h2-liste-articles:                    null                                !default;
$line-height-h3-liste-articles:                    null                                !default;

$text-transform-titles-liste-articles:             null                                !default;
//$text-transform-h1-liste-articles:                 null                                !default;
$text-transform-h2-liste-articles:                 null                                !default;
$text-transform-h3-liste-articles:                 null                                !default;

//$font-size-h1-liste-articles:                null                                     !default;
$font-size-h2-liste-articles:                  $font-size-base                         !default;
$font-size-h3-liste-articles:                  $font-size-small                        !default;

//$font-size-h1-liste-articles-desktop:        3.8rem             !default;
//$font-size-h2-liste-articles-desktop:        3rem               !default;
//$font-size-h3-liste-articles-desktop:        2.2rem             !default;


// TITRES ÉDITORIAUX - ARTICLE COMPLET

$font-family-titles-article:                $font-family-titles                 !default;
$font-family-h1-article:                    $font-family-base                   !default;
$font-family-h2-article:                    null                                !default;
$font-family-h3-article:                    null                                !default;

$font-weight-titles-article:                $font-weight-titles                 !default;
$font-weight-h1-article:                    $font-weight-bold                   !default;
$font-weight-h2-article:                    null                                !default;
$font-weight-h3-article:                    null                                !default;

$color-titles-article:                      $color-titles                       !default;
$color-h1-article:                          null                                !default;
$color-h2-article:                          null                                !default;
$color-h3-article:                          null                                !default;

$line-height-titles-article:                $line-height-base                   !default;
$line-height-h1-article:                    $line-height-small                  !default;
$line-height-h2-article:                    null                                !default;
$line-height-h3-article:                    null                                !default;

$text-transform-titles-article:             null                                !default;
$text-transform-h1-article:                 null                                !default;
$text-transform-h2-article:                 null                                !default;
$text-transform-h3-article:                 null                                !default;


$font-size-h1-article:                2.2rem             !default;
$font-size-h2-article:                2.2rem             !default;
$font-size-h3-article:                1.8rem             !default;

$font-size-h1-article-desktop:        3.8rem             !default;
$font-size-h2-article-desktop:        3rem               !default;
$font-size-h3-article-desktop:        2.2rem             !default;

