/*
    Styles du composant Titles de SipaUI
*/
@import "variables";


// TITRES NON-ÉDITORIAUX------------------------------------------------------------------------------------------/
.sipaui {
    h1,
    .su-h1,
    h2,
    .su-h2,
    h3,
    .su-h3 {
        font-family: $font-family-titles;
        font-weight: $font-weight-titles;
        line-height: $line-height-titles;
        color: $color-titles;
        text-transform: $text-transform-titles;
        margin: 0;
        padding: 0;
        display: block;
    }
    h1,
    .su-h1 {
        font-family: $font-family-h1;
        font-weight: $font-weight-h1;
        font-size: $font-size-h1;
        color: $color-h1;
        line-height: $line-height-h1;
        text-transform: $text-transform-h1;
    }
    h2,
    .su-h2 {
        font-family: $font-family-h2;
        font-weight: $font-weight-h2;
        font-size: $font-size-h2;
        color: $color-h2;
        line-height: $line-height-h2;
        text-transform: $text-transform-h2;
    }
    h3,
    .su-h3 {
        font-family: $font-family-h3;
        font-weight: $font-weight-h3;
        font-size: $font-size-h3;
        color: $color-h3;
        line-height: $line-height-h3;
        text-transform: $text-transform-h3;
    }
}

// TITRES LISTE ARTICLES ------------------------------------------------------------------------------------------/
.sipaui {
    .su-articles-list {
        h2,
        .su-h2,
        h3,
        .su-h3 {
            font-family: $font-family-titles-liste-articles;
            font-weight: $font-weight-titles-liste-articles;
            line-height: $line-height-titles-liste-articles;
            color: $color-titles-liste-articles;
            text-transform: $text-transform-titles-liste-articles;
            margin: 0;
            padding: 0;
        }
        h2,
        .su-h2 {
            font-family: $font-family-h2-liste-articles;
            font-weight: $font-weight-h2-liste-articles;
            font-size: $font-size-h2-liste-articles;
            color: $color-h2-liste-articles;
            line-height: $line-height-h2-liste-articles;
            text-transform: $text-transform-h2-liste-articles;
        }
        h3,
        .su-h3 {
            font-family: $font-family-h3-liste-articles;
            font-weight: $font-weight-h3-liste-articles;
            font-size: $font-size-h3-liste-articles;
            color: $color-h3-liste-articles;
            line-height: $line-height-h3-liste-articles;
            text-transform: $text-transform-h3-liste-articles;
        }
    }
}


// TITRES ARTICLE COMPLET------------------------------------------------------------------------------------------/
.sipaui {
    .su-article {
        h1,
        .su-h1,
        h2,
        .su-h2,
        h3,
        .su-h3 {
            font-family: $font-family-titles-article;
            font-weight: $font-weight-titles-article;
            line-height: $line-height-titles-article;
            color: $color-titles-article;
            text-transform: $text-transform-titles-article;
            padding: 0;
        }
        h1,
        .su-h1 {
            font-family: $font-family-h1-article;
            font-weight: $font-weight-h1-article;
            font-size: $font-size-h1-article;
            color: $color-h1-article;
            line-height: $line-height-h1-article;
            text-transform: $text-transform-h1-article;
            margin: 0 0 3rem;
        }
        h2,
        .su-h2 {
            font-family: $font-family-h2-article;
            font-weight: $font-weight-h2-article;
            font-size: $font-size-h2-article;
            color: $color-h2-article;
            line-height: $line-height-h2-article;
            text-transform: $text-transform-h2-article;
            margin: 4.6rem 0 2.5rem;
        }
        h3,
        .su-h3 {
            font-family: $font-family-h3-article;
            font-weight: $font-weight-h3-article;
            font-size: $font-size-h3-article;
            color: $color-h3-article;
            line-height: $line-height-h3-article;
            text-transform: $text-transform-h3-article;
            margin: 3rem 0 1.3rem;
        }
        h1 + h2,
        .su-h1 + .su-h2,
        h2 + h3,
        .su-h2 + .su-h3 {
            margin-top: 0;
        }
    }
}


//
/* -- DESKTOP ONLY ---------------------------------------------------------------------------------------------------------------------------------- */
//

@media only screen and (min-width: $min-breakpoint-lg) {
    // TITRES NON-ÉDITORIAUX------------------------------------------------------------------------------------------/
    .sipaui {
        h1,
        .su-h1 {
            font-size: $font-size-h1-desktop;
        }
        h2,
        .su-h2 {
            font-size: $font-size-h2-desktop;
        }
        h3,
        .su-h3 {
            font-size: $font-size-h3-desktop;

        }
    }

    // TITRES ÉDITORIAUX------------------------------------------------------------------------------------------/
    .sipaui {
        .su-article {
            h1,
            .su-h1 {
                font-size: $font-size-h1-article-desktop;
                margin: 0 0 3.5rem;
            }
            h2,
            .su-h2 {
                font-size: $font-size-h2-article-desktop;
                margin: 5.5rem 0 2.8rem;
            }
            h3,
            .su-h3 {
                font-size: $font-size-h3-article-desktop;
                margin: 3.5rem 0 1.5rem;

            }
        }
    }
}
