/*
    Variables liés au composant [radio-buttons]
    ex:
    $border-button-premium: 3px !default;
*/

// LABEL ------------------------------------------------------------------------------------------/
$color-label-radio:         $font-color-standard              !default;
$font-size-label-radio:     $font-size-base           !default;
$font-weight-label-radio:   $font-weight-normal       !default;

// INPUT ------------------------------------------------------------------------------------------/
$background-input-radio:            #fafafa                       !default;
$border-input-radio:                1px solid $color-main-3       !default;
$background-input-radio-checked:    #fff                          !default;
$border-input-radio-checked:        7px solid $color-secondary-1  !default;
