/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/


// LIENS

// STANDARD -------------------------------------------------------------------------------------------/
$color-link:                 $color-secondary-3;
$text-decoration-link:       none;

$color-link-hover:                  $color-secondary-2;
$text-decoration-link-hover:        none;
