/*
    Variables liés au composant Links
    ex:
    $border-button-premium: 3px !default;
*/


// LIENS

// STANDARD -------------------------------------------------------------------------------------------/
$color-link:                 $color-main-5              !default;
$text-decoration-link:       underline                  !default;

$color-link-hover:                  $color-secondary-2           !default;
$text-decoration-link-hover:        none                         !default;
