/*
    Variables liés au composant [links]
    ex:
    $border-button-premium: 3px !default;
*/


// LIENS

// LIEN ÉDITORIAL -------------------------------------------------------------------------------------------/
$color-link-editorial:                 $color-secondary-1             !default;
$text-decoration-link-editorial:       none                           !default;

$color-link-editorial-hover:                  $color-secondary-2           !default;
$text-decoration-link-editorial-hover:        underline                    !default;

// LIEN BOUTON -------------------------------------------------------------------------------------------/
$color-link-button:                 $color-secondary-1             !default;
$text-decoration-link-button:       none                           !default;
$font-size-link-button:             $font-size-base                !default;
$font-weight-link-button:           $font-weight-bold              !default;
$height-link-button:                $height-finger                 !default;

$color-link-button-hover:                  $color-secondary-2           !default;
$text-decoration-link-button-hover:        underline                    !default;

