/*
    Styles du composant Links de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";

// LIEN ÉDITORIAL ------------------------------------------------------------------------------------------/
body a {
    -webkit-text-decoration-skip: ink !important;
            text-decoration-skip: ink !important;
}

body .su-editorial a,
body a.su-link {
    color: $color-link-editorial;
    text-decoration: none;
    border-bottom: 1px solid $color-link-editorial;

    &:hover,
    &:focus,
    &:active {
        color: $color-link-editorial-hover;
        text-decoration: none;
        border-color: $color-link-editorial-hover;
    }
    &.su-disabled {
        &:hover,
        &:focus,
        &:active {
            color: $color-link-editorial;
            border-color: $color-link-editorial;
        }
    }
}


// LIEN BOUTON ------------------------------------------------------------------------------------------/
body a.su-link-button {
    color: $color-link-button;
    text-decoration: $text-decoration-link-button;
    font-weight: $font-weight-link-button;
    font-size: $font-size-link-button;
    display: inline-block;
    height: $height-link-button;
    line-height: $height-link-button;

    &:hover,
    &:focus,
    &:active {
        color: $color-link-button-hover;
        text-decoration: $text-decoration-link-button-hover;
    }
    &.su-disabled {
        &:hover,
        &:focus,
        &:active {
            color: $color-link-button;
            text-decoration: $text-decoration-link-button;
        }
    }
}

