/*
    Variables liés au composant [loaders]
    ex:
    $border-button-premium: 3px !default;
*/

// LOADER BASE
$color-main-loader-big:                 $color-main-3                         !default;
$color-secondary-loader-big:            $color-secondary-1                    !default;
