/*
    Styles du composant [margins] de SipaUI
*/
@import "variables";

.sipaui {
    .su-margin-0 {
        margin: 0 !important;
    }
    .su-margin-xs {
        margin: $margin-xsmall !important;
    }
    .su-margin-s {
        margin: $margin-small !important;
    }
    .su-margin-m {
        margin: $margin-medium !important;
    }
    .su-margin-l {
        margin: $margin-large !important;
    }
    .su-margin-xl {
        margin: $margin-xlarge !important;
    }
    .su-margin-xxl {
        margin: $margin-xxlarge !important;
    }

    .su-margin-top-0 {
        margin-top: 0 !important;
    }
    .su-margin-top-xs {
        margin-top: $margin-xsmall !important;
    }
    .su-margin-top-s {
        margin-top: $margin-small !important;
    }
    .su-margin-top-m {
        margin-top: $margin-medium !important;
    }
    .su-margin-top-l {
        margin-top: $margin-large !important;
    }
    .su-margin-top-xl {
        margin-top: $margin-xlarge !important;
    }
    .su-margin-top-xxl {
        margin-top: $margin-xxlarge !important;
    }

    .su-margin-right-0 {
        margin-right: 0 !important;
    }
    .su-margin-right-xs {
        margin-right: $margin-xsmall !important;
    }
    .su-margin-right-s {
        margin-right: $margin-small !important;
    }
    .su-margin-right-m {
        margin-right: $margin-medium !important;
    }
    .su-margin-right-l {
        margin-right: $margin-large !important;
    }
    .su-margin-right-xl {
        margin-right: $margin-xlarge !important;
    }
    .su-margin-right-xxl {
        margin-right: $margin-xxlarge !important;
    }

    .su-margin-bottom-0 {
        margin-bottom: 0 !important;
    }
    .su-margin-bottom-xs {
        margin-bottom: $margin-xsmall !important;
    }
    .su-margin-bottom-s {
        margin-bottom: $margin-small !important;
    }
    .su-margin-bottom-m {
        margin-bottom: $margin-medium !important;
    }
    .su-margin-bottom-l {
        margin-bottom: $margin-large !important;
    }
    .su-margin-bottom-xl {
        margin-bottom: $margin-xlarge !important;
    }
    .su-margin-bottom-xxl {
        margin-bottom: $margin-xxlarge !important;
    }

    .su-margin-left-0 {
        margin-left: 0 !important;
    }
    .su-margin-left-xs {
        margin-left: $margin-xsmall !important;
    }
    .su-margin-left-s {
        margin-left: $margin-small !important;
    }
    .su-margin-left-m {
        margin-left: $margin-medium !important;
    }
    .su-margin-left-l {
        margin-left: $margin-large !important;
    }
    .su-margin-left-xl {
        margin-left: $margin-xlarge !important;
    }
    .su-margin-left-xxl {
        margin-left: $margin-xxlarge !important;
    }
}
