/*
    Variables liés au composant [accordions]
    ex:
    $border-button-premium: 3px !default;
*/


// ACCORDION-BASE ------------------------------------------------------------------------------------------/
$margin-bottom-accordion-item:          $margin-small                       !default;

// lABEL
$border-accordion-label:                1px solid $color-main-4             !default;
$background-accordion-label:            $color-main-1                       !default;
$font-size-accordion-label:             $font-size-medium1                  !default;
$font-weight-accordion-label:           $font-weight-normal                 !default;

// CONTENT
$border-accordion-content:              $border-accordion-label             !default;
$background-accordion-content:          $background-accordion-label         !default;
$padding-accordion-content:             $margin-medium                      !default;

// Hover
$border-accordion-label-hover:          1px solid $color-main-7             !default;
$background-accordion-label-hover:      null                                !default;
$border-accordion-content-hover:        $border-accordion-label-hover       !default;
$background-accordion-content-hover:    $background-accordion-label-hover   !default;

// ACCORDION CHEVRON ------------------------------------------------------------------------------------------/
// lABEL
$min-height-accordion-chevron-label:     42px                                                         !default;
$padding-accordion-chevron-label:        $margin-small $height-finger $margin-small $margin-medium     !default;

// ACCORDION-RADIO ------------------------------------------------------------------------------------------/
// lABEL
$min-height-accordion-radio-label:      64px                                                !default;
$padding-accordion-radio-label:         $margin-small $margin-small $margin-small 50px      !default;

// RADIO
$top-accordion-radio-radio-button:           $min-height-accordion-radio-label / 2 - 10px        !default;
$left-accordion-radio-radio-button:          $margin-medium                                      !default;

// Checked
$border-accordion-radio-label-checked:        $border-accordion-label-hover          !default;
$background-accordion-radio-label-checked:    $background-accordion-label-hover      !default;
$border-accordion-radio-content-checked:      $border-accordion-label-hover          !default;
$background-accordion-radio-content-checked:  $background-accordion-label-hover      !default;

