/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// ACCORDION-BASE ------------------------------------------------------------------------------------------/
// lABEL
$border-accordion-label:                1px solid $color-main-3;
$font-weight-accordion-label:           $font-weight-medium;
$color-accordion-label:                 $color-secondary-1;

// Hover
$border-accordion-label-hover:          1px solid $color-secondary-1;
