/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// ACCORDION-BASE ------------------------------------------------------------------------------------------/

// BORDURES
$border-accordion:                                  1px solid $color-main-3;
$border-accordion-hover:                            1px solid $color-secondary-1;

// lABEL
$font-weight-accordion-label:                       $font-weight-medium;
$color-accordion-label:                             $color-secondary-1;


// Tests designs ---------/
    // Sans bordure latérale et collés
    /*$margin-bottom-accordion-item:                    -1px;

    $border-accordion-hover:                          1px solid $color-secondary-2;
    $border-accordion-checked:                        1px solid $color-secondary-1;

    $border-side-accordion-label:                     none;
    $border-side-accordion-content:                   none;
    $border-side-accordion-label-hover:               none;
    $border-side-accordion-content-hover:             none;
    $border-side-accordion-label-checked:             none;
    $border-side-accordion-content-checked:           none;*/

    // Aplats
    /*$background-accordion-label:                      $color-main-2;
    $background-accordion-content:                    $color-main-1;
    $padding-accordion-content:                       $margin-medium;
    $padding-accordion-content-checked:               $margin-small $padding-accordion-content $padding-accordion-content;*/
