/*
    Variables liés au composant [pop-ins]
    ex:
    $border-button-premium: 3px !default;
*/


$background-pop-in:    $color-main-1         !default;
$padding-pop-in-xs:    $margin-large         !default;
$padding-pop-in-md:    $margin-xlarge        !default;
$animation-pop-in:     all ease .3s          !default;
$animation-pop-out:    all ease .1s          !default;
