/*
    Variables liés au composant [pop-ins]
    ex:
    $border-button-premium: 3px !default;
*/


// VOILE
$background-veil: $color-main-8         !default;
$opacity-veil: .6                       !default;
$animation-veil: opacity ease .3s       !default;
