/*
    Styles du composant [pop-ins] de SipaUI
*/
@import "variables";

// VOILE
.sipaui {
    .su-veil {
        display: block;
        position: static;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: auto;
        height: auto;
        z-index: 100;
        background: $background-veil;
        opacity: 0;
        transition: $animation-veil;
    }
}
body.su-veil-ok {
    overflow: hidden;

    .su-veil {
        opacity: $opacity-veil;
        position: fixed;
    }
}

//POP-IN
.sipaui {
    .su-pop-in {
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        max-height: calc(100vh - #{$margin-medium} * 2);
        max-width: calc(100vw - #{$margin-medium} * 2);
        padding: $padding-pop-in-xs;
        z-index: 200;
        overflow: hidden;
        opacity: 0;
        background: $background-pop-in;
        transition: $animation-pop-in;

        &.su-pop-in-ok {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }
}

@media screen and (min-width: $min-breakpoint-sm) {
	.sipaui {
        .su-pop-in {
            max-width: calc(100vw - #{$margin-large} * 2);
        }
    }
}

@media screen and (min-width: $min-breakpoint-md) {
	.sipaui {
        .su-pop-in {
            max-width: 620px;
            padding: $padding-pop-in-md;
        }
    }
}
