/*
    Styles du composant [pop-ins] de SipaUI
*/
@import "variables";

.sipaui {
    .su-pop-in {
        @include display-flex();
        @include flex-direction(column);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 100%;
        max-height: calc(100vh - #{$margin-medium} * 2);
        max-width: calc(100vw - #{$margin-medium} * 2);
        padding: $margin-large;
        z-index: 200;
        overflow: hidden;
        opacity: 0;
        background: $background-pop-in;
        transition: $animation-pop-in;

        &.su-pop-in-in {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
        &.su-pop-in-out {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0);
            transition: $animation-pop-out;
        }
        .su-close-area {
            min-height: 20px;
        }
        .su-close {
            position: absolute;
            top: $margin-xsmall;
            right: $margin-xsmall;
            width: 44px;
            height: 44px;
            cursor: pointer;
            padding: 0;
            background: none;
            border: none;
            @include display-flex();
            @include align-items(center);
            @include justify-content(center, center);
            color: $color-main-5;

            @include hover-active-focus {
                color: $color-main-7;
            }
            .su-icon {
                font-size: 3rem;
            }
        }
        .su-content-area {
            overflow-y: auto;
        }
        p {
            margin-bottom: $margin-small;
        }
        p:last-child {
            margin-bottom: 0;
        }
        .su-buttons-area {
            margin-top: $margin-medium;
            @include display-flex();
            @include flex(1 0);
            overflow: hidden;
        }
    }
}

@media screen and (min-width: $min-breakpoint-sm) {
	.sipaui {
        .su-pop-in {
            max-width: calc(100vw - #{$margin-large} * 2);
        }
    }
}
@media screen and (max-width: $max-breakpoint-sm) {
	.sipaui {
        .su-pop-in {
            .su-buttons-area {
                @include flex-direction(column);
                @include align-items(stretch);
            }
            .su-primary {
                @include order(1);
            }
            .su-secondary {
                @include order(2);
                margin-top: $margin-medium;
            }
        }
    }
}

@media screen and (min-width: $min-breakpoint-md) {
	.sipaui {
        .su-pop-in {
            max-width: 620px;
            padding-left: $margin-xlarge;
            padding-right: $margin-xlarge;

            .su-buttons-area {
                @include justify-content(flex-end, end)
            }
            .su-secondary {
                margin-right: $margin-medium;
            }
        }
    }
}
