/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// INPUT ------------------------------------------------------------------------------------------/
$background-input-checkbox-checked:    $color-secondary-2;
$border-input-checkbox-checked:        1px solid $color-secondary-2;
