/*
    Styles du composant checkboxes de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";

$height-input-checkbox:        20px;
$height-checkbox-area:         34px;
$line-height-label:         1.5;
$padding-top-label:         6px;

body {
    .su-checkbox-area {
        height: $height-checkbox-area;

        &.su-disabled {
            label,
            su-label,
            input,
            .su-input-checkbox {
                cursor: default;
            }
        }
    }
    .su-checkbox-area.su-checkbox-column {
        height: auto;
        @include flexDisplay();
        @include flexDirection(column, vertical);
        @include flexAlign(flex-start);

        label,
        .su-label-checkbox {
            display: block;
            margin-bottom: $margin-small - 5px;
            margin-left: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .su-checkbox-area.su-error {
        height: auto;
        input[type="checkbox"],
        .su-input-checkbox {
            border-color: $color-error;
        }
    }

    .su-label-checkbox,
    .su-checkbox-area label {
        color: $color-label-checkbox;
        font-size: $font-size-label-checkbox;
        font-weight: $font-weight-label-checkbox;
        height: auto;
        min-height: $height-radio-area;
        line-height: $line-height-label;
        padding-top: $padding-top-label;
        padding-left: $height-input-radio + 7px;
        margin: 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        & + input[type="checkbox"],
        & + label {
            margin-left: $margin-medium2 - 5px; // Les -5px sont pour compenser l’espace lié au saut de ligne dans le code
        }
        & + span {
            display: inline-block;
            overflow: auto; // utile pour mettre un contexte de block pour FireFox
            line-height: $line-height-label;
            margin: 0 $margin-medium2 - 5px; // Les -5px sont pour compenser l’espace lié au saut de ligne dans le code
            min-height: $height-radio-area;
            padding-top: $padding-top-label;
        }
    }
    input[type="checkbox"],
    .su-input-checkbox {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;

        border-radius: 3px;
        width: $height-input-checkbox;
        height: $height-input-checkbox;
        transition: 0.2s all linear;
        outline: none;
        position: absolute;
        top: 7px;
        left: 0;
        cursor: pointer;
        background: $background-input-checkbox;
        border: $border-input-checkbox;

        &:checked {
            border: $border-input-checkbox-checked;
            background: $background-input-checkbox-checked;
        }
    }
}
