/*
    Styles du composant [accordion] de SipaUI
*/
@import "variables";


// ACCORDÉON-RADIO ------------------------------------------------------------------------------------------/
.sipaui {
    .su-accordion-radio {
        min-width: 140px;

        .su-accordion-item {
            position: relative;
            margin-bottom: $margin-bottom-accordion-item;

            > input[type=radio] {
                top: $top-accordion-radio;
                left: $left-accordion-radio;
            }
            > label {
                height: auto; // pour contrer le height défini en standard sur les label SUI
                min-height: $min-height-accordion-label;
                border: $border-accordion-label;
                border-bottom: 0;
                background: $background-accordion-label;
                margin: 0;
                font-size: $font-size-accordion-label;
                font-weight: $font-weight-accordion-label;
                padding: $padding-accordion-label;
                cursor: pointer;
                @include display-flex();
                @include flex-direction(column);
                @include justify-content(center, center);

                @include hover-active-focus {
                    border: $border-accordion-label-hover;
                    border-bottom: 0;
                    background: $background-accordion-label-hover;
                }
            }
            input[type=radio]:checked + label {
                border: $border-accordion-label-checked;
                border-bottom: 0;
                background: $background-accordion-label-checked;
                cursor: default;
            }
        }
        .su-accordion-content {
            border: $border-accordion-content;
            border-top: 0;
            background: $background-accordion-content;
            height: 0;
            padding: 0 $padding-accordion-content;
            overflow: hidden;

            &:not(.su-no-transition) {

            }

            *:last-child {
                margin-bottom: 0;
            }
        }
        .su-accordion-item label {
            @include hover-active-focus {
                ~ .su-accordion-content {
                    border: $border-accordion-content-hover;
                    border-top: 0;
                    background: $background-accordion-content-hover;
                }
            }
        }
        input[type=radio]:checked ~ .su-accordion-content {
            border: $border-accordion-content-checked;
            border-top: 0;
            background: $background-accordion-content-checked;
            height: auto;
            padding: 0 $padding-accordion-content $padding-accordion-content;
        }
        // Transition
        &:not(.su-no-transition) .su-accordion-content {
            max-height: 0;
            transition: max-height 0;
        }
        &:not(.su-no-transition) input[type=radio]:checked ~ .su-accordion-content {
            max-height: 1000px;
            transition: max-height 2s ease-out;
        }

        //Inactif
        &.su-disabled,
        .su-accordion-item.su-disabled {
            label {
                cursor: default;

                @include hover-active-focus {
                    border: $border-accordion-label;
                    border-bottom: 0;
                    background: $background-accordion-label;

                    ~ .su-accordion-content {
                        border: $border-accordion-content;
                        border-top: 0;
                        background: $background-accordion-content;
                    }
                }
            }
        }
    }
}














