/*
    Styles du composant [accordion] de SipaUI
*/
@import "variables";


// ACCORDION-RADIO ------------------------------------------------------------------------------------------/
.sipaui {
    .su-accordion-radio {
        min-width: 140px;
    }
    .su-accordion-item {
        position: relative;
        margin-bottom: $margin-bottom-accordion-item;

        > input[type=radio] {
                                                                                                                top: 20px;
                                                                                                                left: 20px;
        }
        > label {
            height: $height-accordion-label;
            border: $border-accordion-label;
            border-bottom: 0;
            background: $background-accordion-label;
            margin: 0;
                                                                                                                font-size: 1.6rem;
                                                                                                                font-weight: 300;
                                                                                                                padding: 0 0 0 60px;
            cursor: pointer;
            @include display-flex();
            @include flex-direction(column);
            @include justify-content(center, center);

            @include hover-active-focus {
                border: $border-accordion-label-hover;
                border-bottom: 0;
                background: $background-accordion-label-hover;
            }
        }
        input[type=radio]:checked + label {
            border: $border-accordion-label-checked;
            border-bottom: 0;
            background: $background-accordion-label-checked;
        }
    }
    .su-accordion-content {
        border: $border-accordion-content;
        border-top: 0;
        background: $background-accordion-content;
        height: 0;
                                                                                                                        padding: 0 20px 0 60px;
        overflow: hidden;

        &:not(.su-no-transition) {

        }

        *:last-child {
            margin-bottom: 0;
        }
    }
    .su-accordion-item label {
        @include hover-active-focus {
            ~ .su-accordion-content {
                border: $border-accordion-content-hover;
                border-top: 0;
                background: $background-accordion-content-hover;
            }
        }
    }
    input[type=radio]:checked ~ .su-accordion-content {
        border: $border-accordion-content-checked;
        border-top: 0;
        background: $background-accordion-content-checked;
        height: auto;
                                                                                                                        padding: 0 20px 20px 60px;
    }
    // Transition
    .su-accordion-radio:not(.su-no-transition) .su-accordion-content {
        max-height: 0;
        transition: max-height 0;
    }
    .su-accordion-radio:not(.su-no-transition) input[type=radio]:checked ~ .su-accordion-content {
        max-height: 1000px;
        transition: max-height 2s ease-out;
    }
}














