/*
    Styles du composant helpers de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";

/* -- CLEARFIX -------------------------------------------------------------------- */
.su-clearfix,
.su-cf {
    @include clearfix();
}

/* -- HIDE -------------------------------------------------------------------- */
.su-hidden {
    display: none !important;
    visibility: hidden; // Les lecteurs d'écrans parfois ne prennent pas en compte le display none
}

// Pour cacher quelque-chose qui doit rester accessible aux lecteurs d'écrans
.su-visually-hidden { // https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}
body:hover .su-visually-hidden {
    a,
    input,
    button {
        display: none !important;
    }
}

/* -- DISPLAY -------------------------------------------------------------------- */
.su-block {
    display: block !important;
}
.su-inline-block {
    display: inline-block !important;
}

/* -- POSITIONS -------------------------------------------------------------------- */
.su-relative {
	position: relative !important;
}
.su-absolute {
	position: absolute !important;
}
.su-fixed {
	position: fixed !important;
}

/* -- ALIGNMENT -------------------------------------------------------------------- */
.su-block-center {
    display: block !important; //utile pour forcer le centrage d’un objet non block comme les SVG
    margin-left: auto !important;
    margin-right: auto !important;
}
.su-text-center {
    text-align: center !important;
}
.su-text-justify {
    text-align: justify !important;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens:    auto;
    -ms-hyphens:     auto;
    hyphens:         auto;
}

/* -- FULL WIDTH -------------------------------------------------------------------- */
.su-fullwidth {
    width: 100% !important;
}


//
/* -- MOBILE ONLY ---------------------------------------------------------------------------------------------------------------------------------- */
//

@media only screen and (max-width: $max-breakpoint-mobile) {
    .su-fullwidth-mobile {
        width: 100% !important;
    }
}

/* -- DISABLED -------------------------------------------------------------------- */
[disabled="disabled"],
.su-disabled {
    opacity: $opacity-disabled;
    cursor: default !important;
}
