/*
    Variables liés au composant [labels]
    ex:
    $border-button-premium: 3px !default;
*/


// LABEL ------------------------------------------------------------------------------------------/
$color-label:         $font-color-standard              !default;
$font-size-label:     $font-size-small          !default;
$font-weight-label:   $font-weight-bold         !default;
$margin-bottom-label: 4px                       !default;

$color-label-complement:        $color-main-6           !default;
$font-size-label-complement:    12px                    !default;
