/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/

// PAGINATION BASE --------------------------------------------------------------------------------------/

$border-radius-page-item:       0;
$color-page-item:               $color-secondary-1;

$border-radius-page-item-hover: 1px solid $color-secondary-2;
$color-page-item-hover:         $color-secondary-2;



