/*
    Classes utiles SipaUI
*/

/* -- MARGINS -------------------------------------------------------------------- */
.su-margin-0 {
    margin: 0 !important;
}
.su-margin-b-small {
    margin-bottom: $margin-resp-small !important;                // 10px
}
.su-margin-b-medium {
    margin-bottom: $margin-resp-medium1 !important;              // 15px
}
.su-margin-b-standard {
    margin-bottom: $margin-resp-standard !important;             // 20px
}
.su-margin-b-large {
    margin-bottom: $margin-resp-standard-large !important;       // 40px
}

/* -- PADDINGS  -------------------------------------------------------------------- */
.su-padding-0 {
    padding: 0 !important;
}
.su-padding-b-small {
    padding-bottom: $margin-resp-small !important;                // 10px
}
.su-padding-b-medium {
    padding-bottom: $margin-resp-medium1 !important;              // 15px
}
.su-padding-b-standard {
    padding-bottom: $margin-resp-standard !important;             // 20px
}
.su-padding-b-large {
    padding-bottom: $margin-resp-standard-large !important;       // 40px
}

/* -- LINE-HEIGHT -------------------------------------------------------------------- */
.su-line-height-base {
    line-height: $line-height-base !important;
}
.su-line-height-small {
    line-height: $line-height-small !important;
}
.su-line-height-xsmall {
    line-height: $line-height-xsmall !important;
}
