/*
    Classes utiles SipaUI
*/


/* -- LINE-HEIGHT -------------------------------------------------------------------- */
.su-line-height-base {
    line-height: $line-height-base !important;
}
.su-line-height-small {
    line-height: $line-height-small !important;
}
.su-line-height-xsmall {
    line-height: $line-height-xsmall !important;
}
