/*
    Fonte d’icônes
*/

@font-face {
  font-family: 'su-icons';
  src:
    url('#{$font-import-directory}/su-icons/su-icons.woff2?1jn1ms') format('woff2'),
    url('#{$font-import-directory}/su-icons/su-icons.woff?1jn1ms') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="su-icon-"], [class*=" su-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'su-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.su-icon-arrow-up:before {
  content: "\e900";
}
.su-icon-arrow-left:before {
  content: "\e901";
}
.su-icon-arrow-right:before {
  content: "\e902";
}
.su-icon-arrow-down:before {
  content: "\e903";
}
.su-icon-calendar:before {
  content: "\e904";
}
.su-icon-close:before {
  content: "\e905";
}
.su-icon-show:before {
  content: "\e906";
}
.su-icon-alert:before {
  content: "\e907";
}
