/*
    Fonte d’icônes
*/

@if $font-import-use-local == null {
    @font-face {
      font-family: 'su-icons';
      src:
        url('https://cdn.sipaof.fr/sipaui/latest/fonts/su-icons/su-icons.woff2?f7hcz') format('woff2'),
        url('https://cdn.sipaof.fr/sipaui/latest/fonts/su-icons/su-icons.woff?f7hcz') format('woff');
      font-weight: normal;
      font-style: normal;
    }
} @else {
    @font-face {
      font-family: 'su-icons';
      src:
        url('#{$font-import-directory}/su-icons/su-icons.woff2?f7hcz') format('woff2'),
        url('#{$font-import-directory}/su-icons/su-icons.woff?f7hcz') format('woff');
      font-weight: normal;
      font-style: normal;
    }
}

.su-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'su-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Gestion de la taille par defaut */
.su-icon {
    font-size: 2.4rem;
}
/* Gestion de la taille mini */
.su-icon-mini {
    font-size: 1.4rem;
}
