/*
    Variables de theme Voiles et Voiliers
    ex:
    $couleur-principale-1: blue;
*/

@import "variables";

// COLORS ------------------------------------------------------------------------------------------------------------------
// CHART
$gris-tres-clair:       #F3F3F3;
$bleu-tres-clair:       #E6F5FD;
$bleu-clair:            #268BCD;
$bleu-fonce:            #20407A;
$bleu-tres-fonce:       #192F57;

// DEFINITIONS
$color-main-2: $gris-tres-clair;

$color-secondary-1: $bleu-tres-clair;
$color-secondary-2: $bleu-clair;
$color-secondary-3: $bleu-fonce;
$color-secondary-4: $bleu-tres-fonce;

/*
    Variable Surcharge composants
*/
@import "../../components/button/theme-vv";
@import "../../components/text-fields/theme-vv";
