/*
    Variables de theme Voiles et Voiliers
    ex:
    $couleur-principale-1: blue;
*/
$font-import-url:    'https://fonts.googleapis.com/css?family=Montserrat:400,500,700';
$font-import-path:   'montserrat/';
$font-import-medium: true;
$font-import-bold:   true;
$font-import-name:   'Montserrat';

$font-family-base: $font-import-name, Arial, Helvetica, sans-serif;
$font-family-secondaire: $font-family-base;

// COLORS ------------------------------------------------------------------------------------------------------------------
// CHART
$gris-tres-clair:       #F3F3F3;
$bleu-tres-clair:       #E6F5FD;
$bleu-clair:            #268BCD;
$bleu-fonce:            #20407A;
$bleu-tres-fonce:       #192F57;

// DEFINITIONS
$color-main-2: $gris-tres-clair;

$color-secondary-1: $bleu-tres-clair;
$color-secondary-2: $bleu-clair;
$color-secondary-3: $bleu-fonce;
$color-secondary-4: $bleu-tres-fonce;

$color-link-standard: $color-secondary-3;


/*
    Variable Surcharge composants
*/
@import "mixins";
@import "variables";

// Atoms ---------------------------------------------------------
@import "../../components/1-ATOMS/Buttons/theme-vv";

@import "../../components/1-ATOMS/FORM/Checkboxes/theme-vv";
@import "../../components/1-ATOMS/FORM/Errors/theme-vv";
@import "../../components/1-ATOMS/FORM/Labels/theme-vv";
@import "../../components/1-ATOMS/FORM/Radio-buttons/theme-vv";
@import "../../components/1-ATOMS/FORM/Selects/theme-vv";
@import "../../components/1-ATOMS/FORM/Text-fields/theme-vv";

@import "../../components/1-ATOMS/Loaders/theme-vv";
@import "../../components/1-ATOMS/Steppers/theme-vv";

@import "../../components/1-ATOMS/TEXT/Links/theme-vv";
@import "../../components/1-ATOMS/TEXT/Lists/theme-vv";
@import "../../components/1-ATOMS/TEXT/Standard-text/theme-vv";
@import "../../components/1-ATOMS/TEXT/Titles/theme-vv";


// Molecules ---------------------------------------------------------


// Layouts ---------------------------------------------------------
@import "../../components/3-LAYOUTS/Grids/theme-vv";
@import "../../components/3-LAYOUTS/Margins/theme-vv";


// Helpers ---------------------------------------------------------
@import "../../components/4-HELPERS/Helpers/theme-vv";
