/*
    Typographie
*/


// TEXTE EDITORIAL STANDARD--------------------------------------------------------------------------------------------------------------------------------------------------------------------------/
.sipaui {
    .su-text-standard {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-tall;
        color: $color-texte;
        margin: 0;
    }
    .su-text-standard + .su-text-standard {
        margin-top: $margin-medium;
    }
    .su-article {
        p,
        li {
            font-family: $font-family-base;
            font-size: $font-size-base;
            line-height: $line-height-tall;
            color: $color-texte;
            margin: 0;
        }
        p + p,
        ul + p {
            margin-top: $margin-medium;
        }
    }
}
