/*
    Typographie
*/

$margin-paragraphe: $margin-medium;


// TEXTE EDITORIAL STANDARD--------------------------------------------------------------------------------------------------------------------------------------------------------------------------/
.sipaui {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $font-color-standard;

    .su-text-standard {
        font-family: $font-family-base;
        font-size: $font-size-base;
        line-height: $line-height-tall;
        color: $font-color-standard;
        margin: 0;
    }
    .su-text-standard + .su-text-standard {
        margin-top: $margin-paragraphe;
    }
    .su-article,
    .su-articles-list {
        p,
        li,
        span {
            font-family: $font-family-base;
            font-size: $font-size-base;
            line-height: $line-height-tall;
            color: $font-color-standard;
            margin: 0;
        }
    }
    .su-article {
        p + p,
        ul + p,
        ol + p {
            margin-top: $margin-paragraphe;
        }
    }
    .su-text-small {
        font-size: $font-size-small;
    }
}

// LIEN STANDARD ------------------------------------------------------------------------------------------/
.sipaui {
    a {
        color: $color-link-standard;
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
            color: $color-link-standard-hover;
            text-decoration: none;
        }
    }
}
