/*
    Variables de theme Ouest-France
*/

// voir https://robots.thoughtbot.com/sass-default pour explications sur !default

// Import Fonts
$font-import-url:        'https://cdn.sipaof.fr/sipaui/latest/fonts/oswald/Oswald' !default;
$font-import-use-local:  null        !default;
                                                                $font-import-use-local:  true        !default;
$font-import-directory:  '../fonts'  !default;
$font-import-path:       'oswald/'   !default;
$font-import-medium:     null        !default;
$font-import-bold:       null        !default;
$font-import-name:       'Oswald'    !default;

$font-family-base: Arial, Helvetica, sans-serif      !default;
$font-family-secondaire: 'Oswald', $font-family-base !default;


// BREAKPOINTS --------------------------------------------------------------------------------------------------------------
$min-breakpoint-sm:   22.5em   !default;   /* 360px  */
$min-breakpoint-md:   48em     !default;   /* 768px  */
$min-breakpoint-lg:   61.25em  !default;   /* 980px  */
$min-breakpoint-xl:   80em     !default;   /* 1280px */

$max-breakpoint-xs:  22.438em !default;   /* 359px  */
$max-breakpoint-sm:  47.938em !default;   /* 767px  */
$max-breakpoint-md:  61.188em !default;   /* 979px  */
$max-breakpoint-lg:  79.938em !default;   /* 1279px */

// COLORS ------------------------------------------------------------------------------------------------------------------
// MARQUES SIPA
$ouest-france-1:                #e2001a   !default; // rouge
$ouest-france-2:                #b40015   !default; // rouge foncé
$courrier-de-l-ouest-1:         #e2001a   !default; // rouge
$courrier-de-l-ouest-2:         #b40015   !default; // rouge foncé
$presse-ocean-1:                #009ADC   !default; // bleu
$presse-ocean-2:                #007BB0   !default; // bleu foncé
$maine-libre-1:                 #009ADC   !default; // bleu
$maine-libre-2:                 #007BB0   !default; // bleu foncé
$voiles-et-voiliers-1:          #20407A   !default; // bleu foncé
$voiles-et-voiliers-2:          #268BCD   !default; // bleu

// Raccourcis
$of-1:    $ouest-france-1           !default;
$of-2:    $ouest-france-2           !default;
$co-1:    $courrier-de-l-ouest-1    !default;
$co-2:    $courrier-de-l-ouest-2    !default;
$po-1:    $presse-ocean-1           !default;
$po-2:    $presse-ocean-2           !default;
$ml-1:    $maine-libre-1            !default;
$ml-2:    $maine-libre-2            !default;
$vv-1:    $voiles-et-voiliers-1     !default;
$vv-2:    $voiles-et-voiliers-2     !default;

// CHARTE
$blanc:                     #fff    !default;
$gris-plus-clair:			#efefef !default;
$gris-clair:			    #e4e3e1 !default;
$gris:                      #d4d4d4 !default;
$gris-fonce:                #878787 !default;
$gris-plus-fonce:           #666    !default;
$anthracite:                #333    !default;
$noir:                      #000    !default;
// Abonnement
$jaune:                     #dba504 !default;
$jaune-fonce:               #c2940c !default;
// Avertissements
$rouge:                     $of-2   !default;
$vert:                      #3AAA35 !default;

// DEFINITIONS
$color-main-1: $blanc               !default;
$color-main-2: $gris-plus-clair     !default;
$color-main-3: $gris-clair          !default;
$color-main-4: $gris                !default;
$color-main-5: $gris-fonce          !default;
$color-main-6: $gris-plus-fonce     !default;
$color-main-7: $anthracite          !default;
$color-main-8: $noir                !default;

$color-secondary-1: $of-1           !default;
$color-secondary-2: $of-2           !default;

$color-important: $color-secondary-2     !default;

$color-subscription-1: $jaune            !default;
$color-subscription-2: $jaune-fonce      !default;

$color-error:   $rouge         !default;
$color-success: $vert          !default;

$color-code:            $color-secondary-2      !default;
$background-pre-code:   $color-main-2           !default;
$color-kbd:             $color-main-1           !default;
$background-kbd:        $color-main-6           !default;
$color-metadata:        $color-main-5           !default;

// RÉSEAUX SOCIAUX ET MARQUES EXTERNES
$facebook:          #3b5998   !default;
$twitter:           #55acee   !default;
$linkedin:          #0e76a8   !default;
$google:            #dd4839   !default;
$fluxrss:           #f0801a   !default;
$snapchat:          #fffc00   !default;
$viadeo:            #ec7500   !default;
$youtube:           #bb0000   !default;
$instagram:         #e23076   !default;
$pinterest:         #cb2027   !default;
$vine:              #00bf8f   !default;
$tumblr:            #32506d   !default;
$soundcloud:        #FF6600   !default;
$itunes:            #000000   !default;
$flickr:            #0063DC   !default;
$dailymotion:       #0066dc   !default;
$flipboard:         #f52828   !default;


// GLOBAL --------------------------------------------------------------------------------
$font-size-root: 62.5%;
$background-body: $blanc;


// TYPO ----------------------------------------------------------------------------------
$font-color-standard: $color-main-7;

$font-size-xsmall:  1.2rem !default;
$font-size-small:   1.4rem !default;
$font-size-medium1: 1.6rem !default;
$font-size-medium2: 1.8rem !default;
// Le composant chapeau utilise 2 tailles supplémentaires en dur : 2rem et 2.2rem. Si ces tailles doivent resservir, les variabiliser.
// si c'est le cas, attention à un éventuel renommage de variable qui aurait un impacte sur OF.
$font-size-tall:    2.4rem !default;
$font-size-xtall:   3rem   !default;
$font-size-xxtall:  4rem   !default;
$font-size-xxxtall: 6rem   !default;

$font-size-base: $font-size-medium1 !default;

$font-weight-thin:   200 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold:   700 !default;

$line-height-xsmall: 1   !default;
$line-height-small:  1.2 !default;
$line-height-medium: 1.35 !default;
$line-height-tall:   1.5 !default;
$line-height-xtall:  2   !default;
$line-height-base: $line-height-medium !default;


// LIENS --------------------------------------------------------------------------------
$color-link-standard:           $font-color-standard   !default;
$color-link-standard-hover:     $color-secondary-2     !default;


// HAUTEUR STANDARD ----------------------------------------------------------------------
$height-finger: 44px;
$height-small: 34px;


// MARGES --------------------------------------------------------------------------------
// Marges en PX
$margin-xsmall:     5px     !default;
$margin-small:      10px    !default;
$margin-medium:     20px    !default;
$margin-large:      30px    !default;
$margin-xlarge:     40px    !default;
$margin-xxlarge:    50px    !default;




// disabled
$opacity-disabled: .4 !default;



// Sélecteurs
$inputTextBase: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], textarea, .su-input-text, .su-textarea';
$inputTextPlus: $inputTextBase + ', input[type="date"]', '.su-fake-field';
