/*
    Variables de theme Ouest-France
    ex:
    $couleur-principale-1: $rouge;
*/

// voir https://robots.thoughtbot.com/sass-default pour explications sur !default

// Import Fonts
$font-import-url:        'https://cdn.sipaof.fr/sipaui/latest/fonts/oswald/Oswald' !default;
$font-import-use-local:  null        !default;
$font-import-directory:  '../fonts'  !default;
$font-import-path:       'oswald/'   !default;
$font-import-medium:     null        !default;
$font-import-bold:       null        !default;
$font-import-name:       'Oswald'    !default;

$font-family-base: Arial, Helvetica, sans-serif      !default;
$font-family-secondaire: 'Oswald', $font-family-base !default;


// BREAKPOINTS --------------------------------------------------------------------------------------------------------------
$min-breakpoint-sm:   22.5em   !default;   /* 360px  */
$min-breakpoint-md:   48em     !default;   /* 768px  */
$min-breakpoint-lg:   61.25em  !default;   /* 980px  */
$min-breakpoint-xl:   80em     !default;   /* 1280px */

$max-breakpoint-xs:  22.438em !default;   /* 359px  */
$max-breakpoint-sm:  47.938em !default;   /* 767px  */
$max-breakpoint-md:  61.188em !default;   /* 979px  */
$max-breakpoint-lg:  79.938em !default;   /* 1279px */

// COLORS ------------------------------------------------------------------------------------------------------------------
// CHART
$blanc:                     #fff    !default;
$gris-tres-clair:			#efefef !default;
$gris-plus-clair:           #d4d4d4 !default;
$gris-clair:                #c1bfc0 !default;
$gris:                      #878787 !default;
$gris-fonce:                #666    !default;
$gris-plus-fonce:           #333    !default;
$noir:                      #000    !default;

$rouge:                     #e2001a !default;
$rouge-fonce:               #b40015 !default;
$rouge-plus-fonce:          #8c0010 !default;

$jaune:                     #dba504 !default;
$jaune-fonce:               #c2940c !default;
$jaune-plus-fonce:          #a27610 !default;

$vert:                      #3AAA35 !default;

// DEFINITIONS
$color-main-1: $blanc               !default;
$color-main-2: $gris-tres-clair     !default;
$color-main-3: $gris-plus-clair     !default;
$color-main-4: $gris-clair          !default;
$color-main-5: $gris                !default;
$color-main-6: $gris-fonce          !default;
$color-main-7: $gris-plus-fonce     !default;
$color-main-8: $noir                !default;

$color-secondary-1: $rouge               !default;
$color-secondary-2: $rouge-fonce         !default;
$color-secondary-3: $rouge-plus-fonce    !default;
$color-secondary-4: null                 !default;

$color-tertiary-1: null                  !default;
$color-tertiary-2: null                  !default;
$color-tertiary-3: null                  !default;
$color-tertiary-4: null                  !default;

$color-important: $color-secondary-2     !default;

$color-subscription-1: $jaune               !default;
$color-subscription-2: $jaune-fonce         !default;
$color-subscription-3: $jaune-plus-fonce    !default;

$color-error:   $rouge-fonce         !default;
$color-success: $vert                !default;

$color-code:            $color-secondary-3            !default;
$background-pre-code:   $gris-tres-clair     !default;
$color-kbd:          $color-main-1            !default;
$background-kbd:     $color-main-6            !default;


// RÉSEAUX SOCIAUX ET MARQUES
$facebook:          #3b5998   !default;
$twitter:           #55acee   !default;
$linkedin:          #0e76a8   !default;
$google:            #dd4839   !default;
$fluxrss:           #f0801a   !default;
$snapchat:          #fffc00   !default;
$viadeo:            #ec7500   !default;
$youtube:           #bb0000   !default;
$instagram:         #e23076   !default;
$pinterest:         #cb2027   !default;
$vine:              #00bf8f   !default;
$tumblr:            #32506d   !default;
$soundcloud:        #FF6600   !default;
$itunes:            #000000   !default;
$flickr:            #0063DC   !default;
$dailymotion:       #0066dc   !default;
$flipboard:         #f52828   !default;


// GLOBAL --------------------------------------------------------------------------------
$font-size-root: 62.5%;
$background-body: $blanc;


// TYPO ----------------------------------------------------------------------------------
$font-color-standard: $color-main-7;

$font-size-xsmall:  1.2rem !default;
$font-size-small:   1.4rem !default;
$font-size-medium1: 1.6rem !default;
$font-size-medium2: 1.8rem !default;
$font-size-tall:    2.4rem !default;
$font-size-xtall:   3rem   !default;
$font-size-xxtall:  4rem   !default;
$font-size-xxxtall: 6rem   !default;

$font-size-base: $font-size-medium1 !default;

$font-weight-thin:   200 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold:   700 !default;

$line-height-xsmall: 1   !default;
$line-height-small:  1.2 !default;
$line-height-medium: 1.35 !default;
$line-height-tall:   1.5 !default;
$line-height-xtall:  2   !default;
$line-height-base: $line-height-medium !default;


// LIENS --------------------------------------------------------------------------------
$color-link-standard:           $font-color-standard   !default;
$color-link-standard-hover:     $color-secondary-2     !default;


// HAUTEUR STANDARD ----------------------------------------------------------------------
$height-finger: 44px;
$height-small: 34px;


// MARGES --------------------------------------------------------------------------------
// Marges en PX
$margin-xsmall:     5px     !default;
$margin-small:      10px    !default;
$margin-medium:     20px    !default;
$margin-large:      30px    !default;
$margin-xlarge:     40px    !default;




// disabled
$opacity-disabled: .4 !default;



// Sélecteurs
$inputTextBase: 'input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], input[type="search"], textarea, .su-input-text, .su-textarea';
$inputTextPlus: $inputTextBase + ', input[type="date"]', '.su-fake-field' ;
