// SipaUI
// Variables
//

// voir https://robots.thoughtbot.com/sass-default pour explications sur !default


$version:                   1.0.0;
$urlDossierFont: 			'../fonts' !default;

// RUPTURES ------------------------------------------------------------------------------------------------------------------
$min-breakpoint-mobile-wide:    30em;      /* min-breakpoint-mobile-wide :      480px */
$min-breakpoint-tablet:         48em;      /* $min-breakpoint-tablet :          768px */
$min-breakpoint-desktop:        61.25em;   /* $min-breakpoint-desktop :         980px */
$min-breakpoint-desktop-wide:   80em;      /* $min-breakpoint-desktop-wide :    1280px */

$max-breakpoint-mobile-narrow:  29.938em;   /* $max-breakpoint-mobile-narrow :  479px */
$max-breakpoint-mobile:         47.938em;   /* $max-breakpoint-mobile :         767px */
$max-breakpoint-tablet:         61.188em;   /* $max-breakpoint-tablet :         979px */
$max-breakpoint-desktop:        79.938em;   /* $max-breakpoint-desktop :        1279px */

// COULEURS ------------------------------------------------------------------------------------------------------------------
// NUANCIER
$blanc:                     #fff    !default;
$gris-tres-clair:			#efefef !default;
$gris-plus-clair:           #d4d4d4 !default;
$gris-clair:                #c1bfc0 !default;
$gris:                      #878787 !default;
$gris-fonce:                #666    !default;
$gris-plus-fonce:           #333    !default;
$noir:                      #000    !default;

$rouge:                     #e2001a !default;
$rouge-fonce:               #b40015 !default;
$rouge-plus-fonce:          #8c0010 !default;

// COULEURS DOMINANTES
$couleur-principale-1: $blanc               !default;
$couleur-principale-2: $gris-tres-clair     !default;
$couleur-principale-3: $gris-plus-clair     !default;
$couleur-principale-4: $gris-clair          !default;
$couleur-principale-5: $gris                !default;
$couleur-principale-6: $gris-fonce          !default;
$couleur-principale-7: $gris-plus-fonce     !default;
$couleur-principale-8: $noir                !default;

$couleur-secondaire-1: $rouge               !default;
$couleur-secondaire-2: $rouge-fonce         !default;
$couleur-secondaire-3: $rouge-plus-fonce    !default;
$couleur-secondaire-4: null                 !default;

$couleur-tertiaire-1: null                  !default;
$couleur-tertiaire-2: null                  !default;
$couleur-tertiaire-3: null                  !default;
$couleur-tertiaire-4: null                  !default;

$couleur-important: $couleur-secondaire-2   !default;


// RÉSEAUX SOCIAUX ET MARQUES
$facebook:          #3b5998   !default;
$twitter:           #55acee   !default;
$linkedin:          #0e76a8   !default;
$google:            #dd4839   !default;
$fluxrss:           #f0801a   !default;
$snapchat:          #fffc00   !default;
$viadeo:            #ec7500   !default;
$youtube:           #bb0000   !default;
$instagram:         #e23076   !default;
$pinterest:         #cb2027   !default;
$vine:              #00bf8f   !default;
$tumblr:            #32506d   !default;
$soundcloud:        #FF6600   !default;
$itunes:            #000000   !default;
$flickr:            #0063DC   !default;
$dailymotion:       #0066dc   !default;
