/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $border-button-premium: 0;
*/



// BOUTONS
$font-family-button:  $font-family-base;

// PRIMARY -------------------------------------------------------------------------------------------/
$background-button-primary:     $color-secondary-2;
$radius-button-primary:         0;
$font-weight-button-primary:    $font-weight-medium;
// hover, focus
$background-button-primary-hover:   $color-secondary-3;


// SECONDARY -------------------------------------------------------------------------------------------/
$color-button-secondary:          $color-secondary-3;
$shadow-button-secondary:         0 0 0 1px $color-button-secondary inset;

