/*
    Variables liés au composant [Standard text]
    ex:
    $border-button-premium: 3px !default;
*/


// LISTES NON-ÉDITORIALES

$size-bullet:                       10px                                 !default;
$size-bullet-small:                  7px                                 !default;
$margin-bullet:                     10px                                 !default;
$color-bullet:                      $font-color-standard                 !default;
