/*
    Styles du composant Titres de SipaUI
*/
@import "variables";

$taille-puce: 10px;
$taille-espace-puce: 10px;
$taille-retrait-ul: $taille-puce + $taille-espace-puce;
$marge-sous-li: 10px;


.sipaui {
    ul, ol {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    // LISTE A PUCE ------------------------------------------------------------------------------------------/
    .su-article ul:not(.su-not-list),
    ul.su-list {
        padding-left: $taille-retrait-ul;

        > li {
            padding-bottom: $marge-sous-li;

            &::before {
                content: "";
                display: inline-block;
                background: $color-main-7;
                width: $taille-puce;
                height: $taille-puce;
                border-radius: 100%;
                margin-left: - $taille-retrait-ul;
                margin-right: $taille-espace-puce;
            }
            > ul:not(.su-not-list),
            > ul.su-list {
                padding-left: $taille-retrait-ul * 2;
                margin-top: $marge-sous-li;

                > li::before {
                    background: transparent;
                    border: 1px solid $color-main-7;
                }
            }
        }
    }

    // LISTE ORDONNÉÉ ------------------------------------------------------------------------------------------/
/*
    .su-article ul:not(.su-not-list),
    ul.su-list {
        padding-left: $taille-retrait-ul;

        > li {
            padding-bottom: $marge-sous-li;

            &::before {
                content: "";
                display: inline-block;
                background: $color-main-7;
                width: $taille-puce;
                height: $taille-puce;
                border-radius: 100%;
                margin-left: - $taille-retrait-ul;
                margin-right: $taille-espace-puce;
            }
            > ul:not(.su-not-list),
            > ul.su-list {
                padding-left: $taille-retrait-ul * 2;
                margin-top: $marge-sous-li;

                > li::before {
                    background: transparent;
                    border: 1px solid $color-main-7;
                }
            }
        }
    }
*/
}

