.su-old-button {
    cursor: pointer;
    background: $background-bouton;
    color: $color-bouton;
    border: $border-bouton;
    font-family: $font-family-bouton;
    font-weight: $font-weight-bouton;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    display: inline-block;
    margin: 0;
    padding: $padding-bouton;
    border-radius: $radius-bouton;
    box-shadow: $shadow-bouton;
    -webkit-user-select: none;
    -moz-user-select:    none;
    -ms-user-select:     none;
    user-select:         none;
    -webkit-tap-highlight-color: transparent;
    transition: background .1s ease,
                color .1s ease,
                box-shadow .1s ease;
//    will-change: '';
//    min-height: 1em;
//    vertical-align: baseline;
//    text-transform: none;
//    text-shadow: none;

    &:hover,
    &:focus {
        background: $background-bouton-hover;
        color: $color-bouton-hover;
        border: $border-bouton-hover;
        box-shadow: $shadow-bouton-hover;
    }


    &:active:not(.su-old-disabled) {
        background:$background-bouton-active;
        color: $color-bouton-active;
        border: $border-bouton-active;
        box-shadow: $shadow-bouton-active;
    }
}

.su-old-disabled,
[disabled="disabled"] {
    opacity: $opacity-disabled;
    cursor: default;

    &:hover,
    &:focus {
        background: inherit;
        color: inherit;
        border: inherit;
        box-shadow: inherit;
    }
}

.su-old-button.su-old-disabled,
.su-old-button[disabled="disabled"] {
    &:hover,
    &:focus,
    &:active {
        background: $background-bouton;
        color: $color-bouton;
        border: $border-bouton;
        box-shadow: $shadow-bouton;
    }
}
