/*
    Variables liés au theme Voiles et Voiliers
    ex:
    $subutton-br: 5px;
*/

// INPUT ------------------------------------------------------------------------------------------/
$background-input:    #fff                       !default;

// FOCUS
$border-input-focus:     1px solid $color-secondary-3         !default;
