/*
    Variables liés au composant [text-fields]
    ex:
    $subutton-br: 0 !default;
*/


// INPUT ------------------------------------------------------------------------------------------/
$height-input:        $height-finger                !default;
$border-radius-input: 0                             !default;
$color-input:         $color-texte                 !default;
$background-input:    #fafafa                       !default;
$border-input:        1px solid $color-main-3       !default;

// FOCUS
$background-input-focus: #fff                            !default;
$border-input-focus:     1px solid $color-main-7         !default;
