/*
    Variables liés au composant [grids]
    ex:
    $border-button-premium: 3px !default;
*/


// GRILLE ------------------------------------------------------------------------------------------/
$grid-small-max-col:            6             !default;
$grid-large-max-col:           24             !default;
$grid-gutter:                  20px           !default;
