// SipaUI
// Variables
//

// voir https://robots.thoughtbot.com/sass-default pour explications sur !default


$version:                   0.0.1 alpha;
$urlDossierFont: 			'../fonts' !default;

// RUPTURES ------------------------------------------------------------------------------------------------------------------
$min-breakpoint-mobile-wide:    30em;      /* min-breakpoint-mobile-wide :      480px */
$min-breakpoint-tablet:         48em;      /* $min-breakpoint-tablet :          768px */
$min-breakpoint-desktop:        61.25em;   /* $min-breakpoint-desktop :         980px */
$min-breakpoint-desktop-wide:   80em;      /* $min-breakpoint-desktop-wide :    1280px */

$max-breakpoint-mobile-narrow:  29.938em;   /* $max-breakpoint-mobile-narrow :  479px */
$max-breakpoint-mobile:         47.938em;   /* $max-breakpoint-mobile :         767px */
$max-breakpoint-tablet:         61.188em;   /* $max-breakpoint-tablet :         979px */
$max-breakpoint-desktop:        79.938em;   /* $max-breakpoint-desktop :        1279px */

// COULEURS ------------------------------------------------------------------------------------------------------------------
// NUANCIER
$blanc:                     #fff    !default;
$gris-tres-clair:			#efefef !default;
$gris-plus-clair:           #d4d4d4 !default;
$gris-clair:                #c1bfc0 !default;
$gris:                      #878787 !default;
$gris-fonce:                #666    !default;
$gris-plus-fonce:           #333    !default;
$noir:                      #000    !default;

$rouge:                     #e2001a !default;
$rouge-fonce:               #b40015 !default;
$rouge-plus-fonce:          #8c0010 !default;

// COULEURS DOMINANTES
$couleur-principale-1: $blanc               !default;
$couleur-principale-2: $gris-tres-clair     !default;
$couleur-principale-3: $gris-plus-clair     !default;
$couleur-principale-4: $gris-clair          !default;
$couleur-principale-5: $gris                !default;
$couleur-principale-6: $gris-fonce          !default;
$couleur-principale-7: $gris-plus-fonce     !default;
$couleur-principale-8: $noir                !default;

$couleur-secondaire-1: $rouge               !default;
$couleur-secondaire-2: $rouge-fonce         !default;
$couleur-secondaire-3: $rouge-plus-fonce    !default;
$couleur-secondaire-4: null                 !default;

$couleur-important: $couleur-secondaire-2   !default;


// RÉSEAUX SOCIAUX ET MARQUES
$facebook:          #3b5998   !default;
$twitter:           #55acee   !default;
$linkedin:          #0e76a8   !default;
$google:            #dd4839   !default;
$fluxrss:           #f0801a   !default;
$snapchat:          #fffc00   !default;
$viadeo:            #ec7500   !default;
$youtube:           #bb0000   !default;
$instagram:         #e23076   !default;
$pinterest:         #cb2027   !default;
$vine:              #00bf8f   !default;
$tumblr:            #32506d   !default;
$soundcloud:        #FF6600   !default;
$itunes:            #000000   !default;
$flickr:            #0063DC   !default;
$dailymotion:       #0066dc   !default;


// -------------------------------------------------------------------------------------------------------------------------------------------------------------
// TYPO ----------------------------------------------------------------------------------
$font-family-base:       Arial, Helvetica, sans-serif !default;
$font-family-secondaire: null !default;

$font-size-root: 10px      !default;// Valeur en pixel pour s'adapter au responsive. Appliqué à l'élément <html>.

$font-size-xsmall:  1.2rem !default;
$font-size-small:   1.4rem !default;
$font-size-medium1: 1.6rem !default;
$font-size-medium2: 1.8rem !default;
$font-size-tall:    2.4rem !default;
$font-size-xtall:   3rem   !default;
$font-size-xxtall:  4rem   !default;
$font-size-xxxtall: 6rem   !default;

$smaller-font-size: 80% !default;

$line-height-xsmall: 1   !default;
$line-height-small:  1.2 !default;
$line-height-medium: 1.5 !default;
$line-height-base: $line-height-medium !default;

$font-weight-maigre: 300 !default;
$font-weight-medium: 500 !default;
$font-weight-gras:   700 !default;

// Texte standard
$color-texte: $couleur-principale-8 !default;
$font-size-base: $font-size-medium1 !default;

// Code
$color-code: chocolate !default;

// Titres
$font-family-titres: $font-family-secondaire !default;
$color-titres: $couleur-principale-8    !default;
$font-size-h1: $font-size-xxtall        !default;
$margin-bottom-h1: $font-size-h1 * 1.2  !default;
$font-size-h2: $font-size-xtall         !default;
$margin-bottom-h2: $font-size-h2 * 1.1  !default;
$font-size-h3: $font-size-tall          !default;
$margin-bottom-h3: $font-size-h3 * 1    !default;
$font-size-h4: $font-size-medium2       !default;
$font-size-h5: $font-size-base          !default;
$font-size-h6: $font-size-base          !default;
$font-weight-titres: $font-weight-medium !default;

// Titres éditoriaux
$font-family-titres-edito: null                 !default;
$font-weight-titres-edito: $font-weight-gras    !default;
$color-titres-edito: $couleur-principale-5      !default;
$font-size-h1-edito: null                       !default;
$margin-bottom-h1-edito: null                   !default;
$font-size-h2-edito: null                       !default;
$margin-bottom-h2-edito: null                   !default;
$font-size-h3-edito: null                       !default;
$margin-bottom-h3-edito: null                   !default;
$font-size-h4-edito: null                       !default;
$font-size-h5-edito: null                       !default;
$font-size-h6-edito: null                       !default;



// MARGES --------------------------------------------------------------------------------
// Marges en PX
$margin-xsmall:     5px     !default;
$margin-small:      10px    !default;
$margin-medium1:    15px    !default;
$margin-medium2:    20px    !default;
$margin-large:      30px    !default;
$margin-xlarge:     40px    !default;

$margin-standard: $margin-medium2;
$margin-standard-large: $margin-xlarge;

// Marges responsives liées au font-size défini sur HTML ($font-size-root) en REM
$margin-resp-xsmall:     .5rem   !default;
$margin-resp-small:      1rem    !default;
$margin-resp-medium1:    1.5rem  !default;
$margin-resp-medium2:    2rem    !default;
$margin-resp-large:      3rem    !default;
$margin-resp-xlarge:     4rem    !default;

$margin-resp-standard: $margin-resp-medium2         !default;
$margin-resp-standard-large: $margin-resp-xlarge    !default;

// Marges spécifiques
$margin-top-entre-blocs-petit: $margin-resp-standard          !default; // séparateur entre 2 blocs de texte (ie : p + p…)
$margin-top-entre-blocs-grand: $margin-resp-standard-large    !default; // séparateur entre 2 blocs de texte majeurs (ie : article + article, p + h2…)

// OMBRES --------------------------------------------------------------------------------
$ombre-1: 0 0 10px rgba(0,0,0, .5) !default;


// VARIABLES GLOBAL & BASICC -----------------------------------------------------------------------------------------------------------------------------------------
// BODY
$background-body: null !default;

// LIENS STANDARDS
$color-lien:         $couleur-principale-5  !default;
$color-lien-hover:   $couleur-secondaire-2  !default;
$color-lien-active:  $color-lien-hover      !default;
$color-lien-focus:   $color-lien-hover      !default;
$color-lien-visited: $color-texte           !default;
$text-decoration-link: null                !default;

// LIENS NEUTRES
$color-lien-neutre:         $color-texte                !default;
$color-lien-neutre-hover:   $color-lien-hover           !default;
$color-lien-neutre-active:  $color-lien-neutre-hover    !default;
$color-lien-neutre-focus:   $color-lien-neutre-hover    !default;
$color-lien-neutre-visited: $color-texte                !default;

// LIENS VOYANTS
$color-lien-voyant:         $couleur-secondaire-1       !default;
$color-lien-voyant-hover:   $color-lien-hover           !default;
$color-lien-voyant-active:  $color-lien-voyant-hover    !default;
$color-lien-voyant-focus:   $color-lien-voyant-hover    !default;
$color-lien-voyant-visited: $couleur-secondaire-3       !default;

// LISTES À PUCES
$taille-puce-mobile: .8rem         !default;
$taille-espace-puce-mobile: .8rem  !default;
$taille-puce-desktop: 1rem         !default;
$taille-espace-puce-desktop: 1rem  !default;

// LISTES NUMÉROTÉES
$weight-numero-ol: $font-weight-gras        !default;

// TABLEAUX
$border-tableau: 1px solid $couleur-principale-3        !default;
$padding-tableau: $margin-xsmall                        !default;
$caption-color-tableau: $couleur-principale-5           !default;
$caption-side-tableau: bottom                           !default;
$caption-align-tableau: center                          !default;
$caption-padding-tableau: $margin-resp-xsmall 0         !default;

$border-tableau-plus: 1px solid $couleur-principale-4   !default;
$background-tableau-plus-header: $couleur-principale-3  !default;
$background-tableau-plus-even: lighten($couleur-principale-2, 5%)    !default;


// VARIABLES OBJETS -----------------------------------------------------------------------------------------------------------------------------------------
// BOUTONS
$background-bouton:             $couleur-principale-3   !default;
$background-bouton-principal:   null                    !default;
$background-bouton-secondaire:  null                    !default;
$background-bouton-basic:       null                    !default;
$background-bouton-abonnement:  null                    !default;
$background-bouton-premium:     null                    !default;
$background-bouton-negatif:     null                    !default;
    $color-bouton:             $couleur-principale-8    !default;
    $color-bouton-principal:   null                    !default;
    $color-bouton-secondaire:  null                    !default;
    $color-bouton-basic:       null                    !default;
    $color-bouton-abonnement:  null                    !default;
    $color-bouton-premium:     null                    !default;
$border-bouton:             0                       !default;
$border-bouton-principal:   null                    !default;
$border-bouton-secondaire:  null                    !default;
$border-bouton-basic:       null                    !default;
$border-bouton-abonnement:  null                    !default;
$border-bouton-premium:     null                    !default;
    $shadow-bouton:             null                    !default;
    $shadow-bouton-principal:   null                    !default;
    $shadow-bouton-secondaire:  null                    !default;
    $shadow-bouton-basic:       null                    !default;
    $shadow-bouton-abonnement:  null                    !default;
    $shadow-bouton-premium:     null                    !default;
$radius-bouton:                 3px                !default;
$radius-bouton-principal:       null               !default;
$radius-bouton-secondaire:      null               !default;
$radius-bouton-basic:           null               !default;
$radius-bouton-abonnement:      null               !default;
$radius-bouton-premium:         null               !default;
    $font-family-bouton: null                   !default;
$font-weight-bouton: $font-weight-gras      !default;
    $padding-bouton: .79em 1.5em                   !default;

// hover
$background-bouton-hover:             $couleur-principale-4   !default;
$background-bouton-principal-hover:   null                    !default;
$background-bouton-secondaire-hover:  null                    !default;
$background-bouton-basic-hover:       null                    !default;
$background-bouton-abonnement-hover:  null                    !default;
$background-bouton-premium-hover:     null                    !default;
$background-bouton-negatif-hover:     null                    !default;
    $color-bouton-hover:             $couleur-principale-8   !default;
    $color-bouton-principal-hover:   null                    !default;
    $color-bouton-secondaire-hover:  null                    !default;
    $color-bouton-basic-hover:       null                    !default;
    $color-bouton-abonnement-hover:  null                    !default;
    $color-bouton-premium-hover:     null                    !default;
$border-bouton-hover:             null                    !default;
$border-bouton-principal-hover:   null                    !default;
$border-bouton-secondaire-hover:  null                    !default;
$border-bouton-basic-hover:       null                    !default;
$border-bouton-abonnement-hover:  null                    !default;
$border-bouton-premium-hover:     null                    !default;

// active
$background-bouton-active:             $couleur-principale-4   !default;
$background-bouton-principal-active:   null                    !default;
$background-bouton-secondaire-active:  null                    !default;
$background-bouton-basic-active:       null                    !default;
$background-bouton-abonnement-active:  null                    !default;
$background-bouton-premium-active:     null                    !default;
$background-bouton-negatif-active:     null                    !default;
$background-bouton-leger-active:     null                    !default;
    $color-bouton-active:             $couleur-principale-8   !default;
    $color-bouton-principal-active:   null                    !default;
    $color-bouton-secondaire-active:  null                    !default;
    $color-bouton-basic-active:       null                    !default;
    $color-bouton-abonnement-active:  null                    !default;
    $color-bouton-premium-active:     null                    !default;
    $color-bouton-negatif-active:     null                    !default;
    $color-bouton-leger-active:     null                    !default;
$border-bouton-active:             null                    !default;
$border-bouton-principal-active:   null                    !default;
$border-bouton-secondaire-active:  null                    !default;
$border-bouton-basic-active:       null                    !default;
$border-bouton-abonnement-active:  null                    !default;
$border-bouton-premium-active:     null                    !default;
$border-bouton-negatif-active:     null                    !default;
$border-bouton-leger-active:     null                    !default;
