/*
    Styles du text-fields de SipaUI
    Utilise les variables à la fois globales et du composant
*/
@import "variables";



body {
    label,
    .su-label {
        color: $color-label;
        font-size: $font-size-label;
        font-weight: $font-weight-label;
        line-height: $line-height-small;
        height: $font-size-label + .2;
        margin-bottom: $margin-bottom-label;
        display: block;
        overflow: hidden;
    }
    .su-label-complement {
        font-weight: $font-weight-thin;
        color: $color-label-complement;
        font-size: $font-size-label-complement;
    }

}














