/*
    Variables liés au composant pagination
    ex:
    $border-button-premium: 3px !default;
*/

// PAGINATION BASE --------------------------------------------------------------------------------------/
$background-page-item:          $color-main-1                   !default;
$border-page-item:              1px solid $color-main-4         !default;
$border-radius-page-item:       3px                             !default;
$color-page-item:               $font-color-standard            !default;
$font-weight-page-item:         null                            !default;

$border-color-page-item-hover:  $color-secondary-2              !default;
$color-page-item-hover:         $color-secondary-2              !default;

$font-weight-page-active:       $font-weight-bold               !default;


// PAGINATION RICHE --------------------------------------------------------------------------------------/
// Page select
$background-page-select:        $background-page-item                               !default;
$border-page-select:            null                                                !default;
$color-page-select:             $color-page-item                                    !default;
$font-weight-page-select:       $font-weight-bold                                   !default;
$border-page-select-in:         1px solid $color-main-7                             !default;
$border-bottom-page-select-in:  1px solid $background-page-select !important        !default;

// Pages list
$max-height-pages-list:                     297px                                                               !default;
$background-color-pages-list:               $color-main-1                                                       !default;
$background-gradient-pages-list:            linear-gradient(to top, rgba(0,0,0, .1), rgba(0,0,0, 0)) 0 100%     !default;
$background-gradient-height-pages-list:     25px                                                                !default;

$height-pages-list-item:                    35px                            !default;
$border-bottom-pages-list-item:             1px solid $color-main-3         !default;
$border-bottom-width-pages-list-item-10:    2px                             !default;
